<div class="barra_lateral">
    <!--<ul class="my-2 list-unstyled pl-2 mb-4">
        <li>
            <a routerLink="/documentos" class="no-decoration" style="cursor:pointer">
                <i class="fa fa-file text-primary fa-fw" style="margin-top:-2px"></i> Documentos en línea
            </a>
        </li>
    </ul>-->

    <!--
    <hr class="hr-lg m-0 hr-default text-center w-40 op-3">
    <h5 class="mt-2 text-color-primary">Trámites destacados en línea</h5>
    <ul class="my-2 list-unstyled pl-2 mb-4">
        <li class="mb-1" *ngFor="let tramite of tramitesEnLinea">
            <a (click)="getDataServicio(tramite.oee.urlOee, tramite.idServicio)" class="no-decoration" style="cursor:pointer;text-transform:capitalize;">
                <i class="fa fa-globe text-primary fa-fw" style="margin-top:-2px"></i> {{tramite.nombreServicio}}

                <ng-container *ngIf="tramite.idServicio==1127 || tramite.idServicio==1157 || tramite.idServicio==1197">
                    <span class="badge badge-danger badge-pill float-right">¡nuevo!</span>
                </ng-container>
            </a>
        </li>
        <li>
            <a routerLink="/tramites-online" class="no-decoration" style="cursor:pointer">
                <i class="fa fa-plus text-primary fa-fw" style="margin-top:-2px"></i> Ver todos los trámites en línea
            </a>
        </li>
    </ul>-->

    <hr class="hr-lg m-0 hr-default text-center w-40 op-3">
    <h4 class="mt-2 text-color-primary">Categoría de Trámites</h4>
    <ul class="my-3 list-unstyled pl-2 mb-5">
        <li class="mb-1" *ngFor="let categoria of categoriaTramite">
            <a (click)="searchDataCategoria(categoria.id_clasificador)" class="no-decoration" style="cursor:pointer">
                <i class="fa {{categoria.icono}} text-primary fa-fw" style="margin-top:-2px"></i> {{categoria.nombre_clasificador}}

                <span class="badge badge-secondary badge-pill float-right" style="margin-top:3px;">{{categoria.cantidad}}</span>
            </a>
        </li>
        <li>
            <a routerLink="/categorias-tramites" class="no-decoration" style="cursor:pointer">
                <i class="fa fa-plus text-primary fa-fw" style="margin-top:-2px"></i> Ver todas las categorías
            </a>
        </li>
    </ul>


    <hr class="hr-lg m-0 hr-default text-center w-40 op-3">
    <h4 class="mt-1 text-color-primary hidden-md-up">Filtrar por Ciclo de Vida</h4>
    <ul class="my-3 list-unstyled pl-2 mb-5">
        <li class="mb-1" *ngFor="let ciclo of cicloDeVida">
            <a (click)="searchDataCategoria(ciclo.id_clasificador)" class="no-decoration" style="cursor:pointer">
                <i class=" fa {{ciclo.icono}} text-primary fa-fw " style="margin-top:-2px "></i> {{ciclo.nombre_clasificador}}

                <span class="badge badge-secondary badge-pill float-right ">{{ciclo.cantidad}}</span>
            </a>
        </li>
    </ul>


    <hr class="hr-lg m-0 hr-default text-center w-40 op-3 ">
    <h4 class="mt-1 text-color-primary hidden-md-up ">El Estado</h4>
    <ul class="my-3 list-unstyled pl-2 mb-6 ">
        <li class="mb-1 ">
            <a class="no-decoration " style="cursor:pointer;text-transform:capitalize; " routerLink="/estado/poder-ejecutivo ">
                <i class="far fa-circle text-primary fa-fw " style="margin-top:-2px "></i> Ejecutivo

                <span class="badge badge-secondary badge-pill float-right "></span>
            </a>
        </li>
        <li class="mb-1 ">
            <a class="no-decoration " style="cursor:pointer;text-transform:capitalize; " routerLink="/estado/poder-legislativo ">
                <i class="far fa-circle text-primary fa-fw " style="margin-top:-2px "></i> Legislativo
                <span class="badge badge-secondary badge-pill float-right "></span>
            </a>
        </li>
        <li class="mb-1 ">
            <a class="no-decoration " style="cursor:pointer;text-transform:capitalize; " routerLink="/estado/poder-judicial ">
                <i class="far fa-circle text-primary fa-fw " style="margin-top:-2px "></i> Judicial
                <span class="badge badge-secondary badge-pill float-right "></span>
            </a>
        </li>
        <li class="mb-1 ">
            <a class="no-decoration " style="cursor:pointer; " routerLink="/estado">
                <i class="far fa-circle text-primary fa-fw " style="margin-top:-2px "></i> Ver todo
                <span class="badge badge-secondary badge-pill float-right "></span>
            </a>
        </li>
    </ul>


    <!--
    <hr class="hr-lg m-0 hr-default text-center w-40 op-3 ">
    <h5 class="mt-2 text-color-primary ">Últimos trámites actualizados</h5>
    <ul class="my-2 list-unstyled pl-2 mb-4 ">
        <li class="mb-1 " *ngFor="let tramite of ultimosTramitesEnLinea ">
            <a (click)="getDataServicio(tramite.oee.urlOee, tramite.idServicio) " class="no-decoration " style="cursor:pointer;text-transform:capitalize; ">
                <i class="fa fa-mouse-pointer text-primary fa-fw " style="margin-top:-2px "></i> {{tramite.nombreServicio}}

                <ng-container *ngIf="tramite.idServicio==1127 || tramite.idServicio==1157 || tramite.idServicio==1197 ">
                    <span class="badge badge-danger badge-pill float-right ">¡nuevo!</span>
                </ng-container>
            </a>
        </li>
    </ul>-->
</div>