<!--<div [style.padding.px]="(messageService.buscadorVisible) ? messageService.dividerDefault : messageService.divider"></div>-->
<div id="page-header" class="bg-gradient bg-shadow">
    <div class="container">
        <div class="header-text clearfix">
            <h3 class="mb-0"><span class="fab fa-leanpub text-default menu-item-icon text-center fa-fw"></span> Marco Legal</h3>
            <!--<buscar-informacion [hidden]="true" [hiddenButton]="true"></buscar-informacion>-->
        </div>
    </div>
</div>


<div class="content pb-4" *ngIf="ciudadano">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <menu-ciudadano></menu-ciudadano>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12" *ngIf="ciudadano">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 mt-4">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action flex-column align-items-start">
                                <a style="color:#333030;font-weight:400;" href="http://www.diputados.gov.py/ww5/application/files/9114/8033/7753/constitucion_espanol1992.compressed.pdf" target="_blank">
                                    La Constitución Nacional en su artículo 135 consagra que toda persona podrá acceder a la información y a los datos que obren en registros oficiales de carácter público, sobre sí misma o sobre sus bienes.
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-action flex-column align-items-start">
                                <a style="color:#333030;font-weight:400;" href="http://www.diputados.gov.py/WebSiteLeyes/2014/Py_5282_2014_09_19.pdf" target="_blank">
                                    Ley N° 5.282/2014 de libre acceso ciudadano a la información pública y transparencia gubernamental.
                                </a>
                            </li>
                            <!--li class="list-group-item list-group-item-action flex-column align-items-start">
                                <a style="color:#333030;font-weight:400;" href="https://www.senatics.gov.py/index.php/ley+4989+senatics.pdf/a766fe66-aed8-4736-b968-cb6869cf59e2">
                                    Ley N° 4.989/2013 que crea el marco de aplicación de las TICs en el sector público y crea la SENATICs.
                                </a>
                            </li-->
                            <li class="list-group-item list-group-item-action flex-column align-items-start">
                                <a style="color:#333030;font-weight:400;" href="https://www.mitic.gov.py/application/files/9815/4877/9720/Ley_6207_Que_crea_MITIC_.pdf" target="_blank">
                                    Ley N° 6.207/2018 que crea el Ministerio de Tecnologías de la Información y Comunicación y establece su carta orgánica.
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-action flex-column align-items-start">
                                <a style="color:#333030;font-weight:400;" href="https://www.senatics.gov.py/application/files/3615/2580/2138/DECRETO_8709.PDF" target="_blank">
                                    Decreto Nro 8709/2018. Por el cual se dispone la utilización del "Sistema de Intercambio de Información" implementado por la Secretaría Nacional de Tecnologías de la Información y Comunicación (SENATICs) en las Instituciones Públicas y se reglamentan servicios y aspectos relativos al mismo.
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-action flex-column align-items-start">
                                <a style="color:#333030;font-weight:400;" href="http://www.diputados.gov.py/WebSiteLeyes/2002/py1969_02092002.pdf" target="_blank">
                                    Ley N° 1969/2002 que modifica, amplía y deroga varios artículos de la Ley N° 1682/2001.
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-action flex-column align-items-start">
                                <a style="color:#333030;font-weight:400;" href="http://www.diputados.gov.py/WebSiteLeyes/2001/py1682_16012001.pdf" target="_blank">
                                    Ley N° 1682/2001 que reglamenta la información de caracter privado. 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>        
        </div>    
    </div>    
</div>