<div id="page-header" class="bg-gradient bg-shadow" style="padding: 0px 0;">
    <div class="container clearfix">
        <nav class="breadcrumb">

        </nav>
    </div>
</div>
<div id="content" class="pb-0">
    <div id="content" class="pb-0 pt-2">
        <div class="p-5" style="padding-top: 0px !important;">
            <div class="row">
            <!--<div class="col-md-8 mb-4">-->
                <h3 class="title-divider text-primary">
                    <i class="fa fa-edit mr-2" style="margin-top: -4px;"></i>
                    <span>Primera Llamada Sincronizacion</span>
                </h3>
                <!--<form #miForm="ngForm" class="mt-4">
                    <div class="form-group">
                        <label for="cedula"><strong>Cédula</strong></label>
                        <input [(ngModel)]="cedula" class="form-control" id="cedula" style="max-width: 300px;" name="cedula" required>
                    </div>
                    <div>
                        <button (click)="obtenerPersona(cedula)" type="submit" class="btn btn-success btn-success-next" [disabled]="!miForm.form.valid || loading">
                            Verificar<span class="fa fa-check"></span>
                        </button>&nbsp;
                        <button class="btn btn-secondary btn-success-next" (click)="goBack()">
                            Volver al Menú<span class="fa fa-times"></span>
                        </button>
                    </div>
                </form>
                <div class="col-md-8 mb-4">
                    <button class="btn btn-secondary btn-success-next">
                        Generar Lista<span class="fa fa-plus"></span>
                    </button>&nbsp;
                    <button class="btn btn-secondary btn-success-next" (click)="volver()">
                        Volver<span class="fa fa-arrow-left"></span>
                    </button>
                </div>-->
                <div>
        
        <!--<label *ngIf="loading">Generando archivo..favor espere..</label><p-progressSpinner *ngIf="loading" [style]="{width: '50px', height: '50px'}" animationDuration=".5s"></p-progressSpinner>-->
        <p-table #dt [columns]="scrollableCols" [value]="pacientesList" selectionMode="single" dataKey="id" [paginator]="true"
        [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" [lazy]="true" (onLazyLoad)="load($event)"
        paginatorPosition="bottom" editMode="row"
        [frozenColumns]="frozenCols" [scrollable]="true" frozenWidth="150px" scrollHeight="500px" scrollWidth="90%"><!-- [resizableColumns]="true" columnResizeMode="expand"-->
        
          <ng-template pTemplate="caption">
                <table>
                    <tr>
                        <td align="left" style="width: 150px;" [formGroup]="filterFormGroup">
				            <p-dropdown id="contactoOption" style="text-align: left;width:auto;margin-right: 5px;" [options]="estadoSincronizacionOptions" label="label" placeholder="Seleccionar" formControlName="estadoSincronizacion" [style]="{'minWidth':'150px', 'width': '150px'}" required (onChange)="buscarContactos($event.value)"></p-dropdown>
			            </td>
                        <td>
                            <form [formGroup]="filterFormGroup" (ngSubmit)="buscarContactos(contactoOption)">&nbsp;
                                <input formControlName="region" placeholder="Region" style="width: 90px;">&nbsp;
                                <input formControlName="distrito" placeholder="Distrito" style="width:100px;">&nbsp;
                                <input formControlName="barrio" placeholder="Barrio" style="width: 100px;">&nbsp;
                                <input formControlName="fechaCierre" placeholder="Fecha Cierre" style="width: 110px;">&nbsp;
                                <input formControlName="codigoPaciente" placeholder="Código Paciente" style="width: 112px;">
                                <input type="submit" hidden>
                            </form>
                        </td>
			<td align="right">
                            <input type="text" pInputText style="width:500px;margin-right: 5px;height: 35px;" placeholder="Filtrar Contactos por los campos de la tabla" (input)="dt.filterGlobal($event.target.value, 'contains')"></td>
                    </tr>
                    <tr><td></td><td align="left"><span style="color: red;">Campos obligatorios al editar(*)</span></td></tr>
                </table>
                <div style="text-align: right;width:auto;">
                </div>
           </ng-template>

           <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <!--<col *ngFor="let col of columns" style="width:200px"> style="width: max-content;"-->
                <col style="width:150px">
                <col style="width:145px">
                <col style="width:135px">
                <col style="width:180px">
                <col style="width:190px">
                <col style="width:160px">
                <col style="width:160px">
                <col style="width:160px">
                <col style="width:160px">
                <col style="width:160px">
                <col style="width:160px">
                <col style="width:160px">
                <col style="width:160px">
                <col style="width:120px">
                <col style="width:90px">
                <col style="width:130px">
                <col style="width:150px">
                <col style="width:150px">
                <col style="width:150px">
                <col style="width:150px">
                <col style="width:150px">
                <col style="width:150px">
                <col style="width:160px" *ngIf="columns[0].field==='acc'">
            </colgroup>
            </ng-template>

           <ng-template pTemplate="header" let-columns>
                <tr>
                    <!--<th *ngFor="let col of columns" [pSortableColumn]="col.field">pResizableColumn [style.width]="col.width"
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>-->
                    <th *ngIf="columns[0].field==='acc'">Acciones</th>
                    <th>Fecha de Cierre</th>
                    <th>Código de Paciente</th>
                    <th>Nro de Documento</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Teléfono <span style="color: red;">(*)</span></th>
                    <th>Región Sanitaria <span style="color: red;">(*)</span></th>
                    <th>Distrito <span style="color: red;">(*)</span></th>
                    <th>Barrio</th>
                    <th>Dirección</th>
                    <th>Referencia</th>
                    <th>Nro Casa</th>
                    <th>Hospitalizado</th>
                    <th>Fallecido</th>
                    <th>Personal de Blanco</th>
                    <th>Tipo de Exposición</th>
                    <th>Sintomático / Asintomático</th>
                    <th>Fecha de Inicio de Síntomas</th>
                    <th>Comunidad / Albergue</th>
                    <th>Estado de Llamada</th>
                    <th>Llamador Asignado</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-columns="columns">
                <tr [pEditableRow]="rowData" [ngClass]="{'rojoOscuro': rowData.editado}">
                    <td *ngIf="columns[0].field==='acc'">
                        <button type="button" pButton icon="pi pi-volume-up" *ngIf="rowData.estadoSincronizacionHaciaDGVS!==4" iconPos="left" (click)="mostrarLlamada(rowData)" class="ui-button-success mr-2" style="font-size:10px;width:133px" label="Descartar de la sincronización" title="Al descartar de la sincronizaciónlos cambios en el registro no serán enviadas al sistema DGVS"></button><br>
                    </td>
                    <!--<td *ngFor="let col of columns" style="height: 180px;">
                        {{rowData[col.field]}}
                    </td>-->
                   
                    <td pEditableColumn style="vertical-align: top; height: 128px;" *ngIf="columns[0].field==='fechaCierreCaso'">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{rowData.fechaCierreCaso}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.fechaCierreCaso}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <!--<p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <input pInputText style="width:120px; height:35px" type="text" formControlName="codigoPaciente">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.codigoPaciente}}
                            </ng-template>
                        </p-cellEditor>-->
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{rowData.codigoPaciente}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.codigoPaciente}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <!--<p-cellEditor *ngIf="edito">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <input pInputText style="width:120px; height:35px" type="text" formControlName="nroDocumento" (change)="consultarIdentificaciones($event)">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.nroDocumento}}
                            </ng-template>
                        </p-cellEditor> *ngIf="!edito"-->
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{rowData.nroDocumento}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.nroDocumento}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <!--<p-cellEditor *ngIf="edito">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <input pInputText style="width:150px; height:35px" type="text" formControlName="nombre">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.nombre}}
                            </ng-template>
                        </p-cellEditor> *ngIf="!edito"-->
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{rowData.nombre}}
                            </ng-template>

                            <ng-template pTemplate="output">
                                {{rowData.nombre}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <!--<p-cellEditor *ngIf="edito">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <input pInputText style="width:162px; height:35px" type="text" formControlName="apellido">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.apellido}}
                            </ng-template>
                        </p-cellEditor> *ngIf="!edito"-->
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{rowData.apellido}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.apellido}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <!--<p-cellEditor *ngIf="edito">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <input pInputText style="width:162px; height:35px" type="text" formControlName="apellido">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.apellido}}
                            </ng-template>
                        </p-cellEditor> *ngIf="!edito"-->
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{rowData.edad}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.edad}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <input pInputText style="width:140px; height:35px" type="text" formControlName="telefono">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.telefono}}
                            </ng-template>
                        </p-cellEditor>

                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.telefono}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.telefono}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <p-autoComplete id="departamento" formControlName="departamento" [suggestions]="departamentosFiltrados" field="nombre" 
                                    (completeMethod)="filtrarDepto($event)" [inputStyle]="{'width':'120px'}" [forceSelection]="true" required (onSelect)="selectDepto($event)" apendTo="body"></p-autoComplete>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.departamento}}
                            </ng-template>
                        </p-cellEditor>

                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.departamento}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.departamento}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <!--<input pInputText style="width:120px; height:35px" type="text" formControlName="distrito">-->
                                    <p-autoComplete id="distrito" formControlName="distrito" [suggestions]="distritosFiltrados" field="nombre" (completeMethod)="filtrarDistrito($event)" [inputStyle]="{'width':'135px'}" [forceSelection]="true" required apendTo="body"></p-autoComplete>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.distrito}}
                            </ng-template>
                        </p-cellEditor>

                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.distrito}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.distrito}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <!--<input pInputText style="width:120px; height:35px" type="text" formControlName="distrito">-->
                                    <p-autoComplete id="barrio" formControlName="barrio" [suggestions]="barriosFiltrados" field="nombre" (completeMethod)="filtrarBarrio($event)" [inputStyle]="{'width':'135px'}" [forceSelection]="true" (onSelect)="eligeBarrio($event)" apendTo="body"></p-autoComplete>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.barrio}}
                            </ng-template>
                        </p-cellEditor>
                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.barrio}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.barrio}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <input pInputText style="width:140px; height:35px" type="text" formControlName="direccion">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.direccion}}
                            </ng-template>
                        </p-cellEditor>

                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.direccion}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.direccion}}
                            </ng-template>
                        </p-cellEditor>
                        
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <input pInputText style="width:140px; height:35px" type="text" formControlName="referencia">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.referencia}}
                            </ng-template>
                        </p-cellEditor>

                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.referencia}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.referencia}}
                            </ng-template>
                        </p-cellEditor>
                        
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <input pInputText style="width:140px; height:35px" type="text" formControlName="casaNumero">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.casaNumero}}
                            </ng-template>
                        </p-cellEditor>

                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.casaNumero}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.casaNumero}}
                            </ng-template>
                        </p-cellEditor>
                        
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <p-dropdown id="hospitalizado" [options]="binarioOptions" label="label" placeholder="Seleccionar" formControlName="hospitalizado" name="hospitalizado" [style]="{'minWidth':'70px', 'width': '70px'}" required></p-dropdown>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.hospitalizado}}
                            </ng-template>
                        </p-cellEditor>

                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.hospitalizado}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.hospitalizado}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <p-dropdown id="fallecido" [options]="binarioOptions" label="label" placeholder="Seleccionar" formControlName="fallecido" name="fallecido" [style]="{'minWidth':'70px', 'width': '70px'}" required></p-dropdown>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.fallecido}}
                            </ng-template>
                        </p-cellEditor>

                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.fallecido}}
                            </ng-template>

                            <ng-template pTemplate="output">
                                {{rowData.fallecido}}
                            </ng-template>
                        </p-cellEditor>  
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <p-dropdown id="personalBlanco" [options]="perBlancoOptions" label="label" placeholder="Seleccionar" formControlName="personalBlanco" name="personalBlanco" [style]="{'minWidth':'110px', 'width': '110px'}" appendTo="body" required></p-dropdown>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.personalBlanco}}
                            </ng-template>
                        </p-cellEditor>

                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.personalBlanco}}
                            </ng-template>

                            <ng-template pTemplate="output">
                                <!--{{rowData.personalBlanco}}-->
                                <div *ngIf="rowData.personalBlanco=='SI_SI'">Si.En Servicio</div>
                                <div *ngIf="rowData.personalBlanco=='NO_NO'">No</div>
                                <div *ngIf="rowData.personalBlanco=='SI_NO'">Si.No está en Servicio</div>
                                <div *ngIf="rowData.personalBlanco=='SI_SD'">Si.Sin datos de Servicio</div>
                                <div *ngIf="rowData.personalBlanco=='NO_SD'">No.Sin datos de Servicio</div>
                                <div *ngIf="rowData.personalBlanco=='SD_SD'">Se Desconoce</div>
                            </ng-template>
                        </p-cellEditor>  
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <p-dropdown id="tipoExposicion" [options]="exposicionOptions" label="label" placeholder="Seleccionar" formControlName="tipoExposicion" name="tipoExposicion" [style]="{'minWidth':'110px', 'width': '110px'}" required></p-dropdown>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.tipoExposicion}}
                            </ng-template>
                        </p-cellEditor>

                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.tipoExposicion}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.tipoExposicion}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <p-dropdown id="sintomaticoAsintomatico" [options]="sintomasOptions" label="label" placeholder="Seleccionar" formControlName="sintomaticoAsintomatico" 
                                    name="sintomaticoAsintomatico" [style]="{'minWidth':'115px', 'width': '115px'}" (onChange)="anularFechaSintomas($event)"></p-dropdown>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.sintomaticoAsintomatico}}
                            </ng-template>
                        </p-cellEditor>

                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.sintomaticoAsintomatico}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.sintomaticoAsintomatico}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <p-calendar formControlName="fechaInicioSintomas" id="fechaInicioSintomas" name="fechaInicioSintomas" dateFormat="dd/mm/yy" [locale]="es" dataType="string" appendTo="body" [inputStyle]="{'width':'95px'}" [maxDate]="hoy"></p-calendar>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.fechaInicioSintomas}}
                            </ng-template>
                        </p-cellEditor>

                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.fechaInicioSintomas}}
                            </ng-template>

                            <ng-template pTemplate="output">
                                {{rowData.fechaInicioSintomas}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor *ngIf="edito && rowId===rowData.id">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <p-dropdown id="comunidadAlbergue" [options]="albergueOptions" label="label" placeholder="Seleccionar" formControlName="comunidadAlbergue" name="comunidadAlbergue" [style]="{'minWidth':'115px', 'width': '115px'}"></p-dropdown>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.comunidadAlbergue}}
                            </ng-template>
                        </p-cellEditor>

                        <p-cellEditor *ngIf="!edito || (edito && rowId!==rowData.id)">
                            <ng-template pTemplate="input">
                                {{rowData.comunidadAlbergue}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.comunidadAlbergue}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{rowData.estadoPrimeraLlamada }}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.estadoPrimeraLlamada}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn style="vertical-align: top; height: 128px;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                {{rowData.loginOperador}}
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.loginOperador}}
                            </ng-template>
                        </p-cellEditor> 
                    </td>
                    <!--<td>
                        <button type="button" pButton icon="pi pi-times" iconPos="left" (click)="mostrarNoSeContacto(rowData)" class="ui-button-danger mr-2 mb-1" style="font-size:10px;width:133px" label="No se pudo contactar" title="No se Pudo Contactar: en caso de que no atiende, apagado, etc."></button><br>
                        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" iconPos="left" (click)="onRowEditInit(rowData)" class="ui-button-warning mr-2 mb-1" style="font-size:10px;width:133px" label="Editar" title="Editar algunas de las informaciones de las columnas exhibidas."></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(rowData)" class="p-button-rounded p-button-text ui-button-warning p-mr-2 mr-2 ml-3 mb-2 mt-2" style="background-color: green !important;"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel()" class="p-button-rounded p-button-text p-button-danger mb-2 mt-2" style="background-color: red !important;"></button><br>
                        <button type="button" pButton icon="pi pi-comments" iconPos="left" (click)="mostrarAgregarComentario(rowData)" class="ui-button-info mr-2 mb-1" style="font-size:10px;width:133px" label="Agregar Comentario" title="Agregar Comentario al momento de realizar llamada."></button><br>
                        <button type="button" pButton icon="pi pi-volume-up" *ngIf="rowData.estadoPrimeraLlamada !=='llamada_realizada'" iconPos="left" (click)="mostrarLlamada(rowData)" class="ui-button-success mr-2 mb-1" style="font-size:10px;width:133px" label="Llamada Realizada" title="Al Finalizar la llamada, se marca que la llamada fue realizada y el registro sale de la lista."></button><br>
                    </td>-->

                    <!--<p-cellEditor *ngIf="edito">
                            <ng-template pTemplate="input">
                                <div [formGroup]="formGroup">
                                    <input pInputText style="width:95px" type="text" formControlName="fechaUltimaLlamada">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{rowData.fechaUltimaLlamada}}
                            </ng-template>
                        </p-cellEditor>-->
                </tr>
            </ng-template>
    </p-table>

                </div>
                <!--<button class="btn btn-secondary" routerLink="/covid19/home-operador">
                    Volver al Menú
                </button>-->
                <!--<form #miForm="ngForm" class="mt-4">
                    <div class="form-group">
                        <label for="tipoDocumento"><strong>Tipo de Documento </strong></label>
                        <input type="text" [(ngModel)]="tipoDocumento" class="form-control" style="max-width: 200px;" id="tipoDocumento" name="tipoDocumento" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="numeroDocumento"><strong>Cédula </strong></label>
                        <input type="text" [(ngModel)]="formDatosBasicos.numeroDocumento" class="form-control" style="max-width: 200px;" id="numeroDocumento" name="numeroDocumento" placeholder="Ej. 123456" required readonly>
                    </div>
                    <div class="clearfix"><br/></div>
                    <button (click)="validarTelefono(formDatosBasicos.contrasenha)" type="submit" class="btn btn-success btn-success-next" [disabled]="!miForm.form.valid || loading || contrasenha !== contrasenhaConfirm">
                            Guardar<span class="fa fa-check"></span>
                        </button>
                </form>-->
            <!--</div>-->

            <div class="row">
                <div class="col-md">
                    <button class="btn btn-success btn-success-next text-white mr-3 mt-3" mat-button routerLink="/covid19/home-operador">
                        Menú Principal  <span class="fa fa-arrow-left"></span>            
                    </button>
                </div>
            </div>

            <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">{{mensaje}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-remove"></i>  Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <p-dialog [(visible)]="showAgregarComentario" modal="true" header="Agregar Comentario" (onHide)="closePopupAgregarComentario()">
                <form [formGroup]="comentariosFormGroup" class="mt-4">
                    <!--<div class="form-group">
                        <label for="nexo"><strong>Nexo</strong><span class="text-danger">*</span></label>
                        <input type="text" formControlName="nexo" name="nexo" class="form-control" style="max-width: 400px;" id="nexo">
                    </div>-->
                    <div class="form-group">
                        <label for="comentarios"><strong>Comentario</strong><span class="text-danger">*</span></label><br>
                        <textarea id="comentarios"  formControlName="comentarios" cols="50" rows="5" maxlength="899"></textarea>
                    </div>
                </form>
                <button class="btn btn-success btn-success-next mr-2 mb-2" (click)="agregarComentario()" [disabled]="!comentariosFormGroup.valid">
                    Agregar <span class="fa fa-check"></span>
                </button>
                <button class="btn btn-secondary btn-success-next mb-2" (click)="closePopupAgregarComentario()">
                    Cancelar <span class="fa fa-times"></span>
                </button><br>
                <h4 *ngIf="historicoComentarios?.length >= 1">Histórico de Comentarios:</h4>
                <p *ngFor="let comentario of historicoComentarios">{{comentario}}</p>
            </p-dialog>

            <p-dialog [(visible)]="showNoSeContacto" modal="true" header="Indique el motivo por el que no se pudo contactar"><!--[formGroup]="agregarContactoFormGroup"-->
                <form [formGroup]="motivosFormGroup" class="mt-4">
                    <div class="form-group">
                        <label for="motivo"><strong>Motivo</strong><span style="color: red;"> *</span></label>
                        <br>
                        <p-dropdown id="motivo" [options]="motivos" label="label" placeholder="Seleccionar" formControlName="motivoNoContacto" name="motivo" [style]="{'width':'515px'}" appendTo="body" required></p-dropdown>
                    </div>
                </form>
                <button class="btn btn-success btn-success-next mr-2 mt-6" (click)="guardarNoSeContacto()" [disabled]="!motivosFormGroup.valid">
                    Aceptar <span class="fa fa-check"></span>
                </button>
                <button class="btn btn-secondary btn-success-next mt-6" (click)="closePopupNoSeContacto()">
                    Cancelar <span class="fa fa-times"></span>
                </button>
            </p-dialog>

            <p-dialog [(visible)]="showLlamadaRealizada" modal="true" header="Confirmar descartar sincronización">
                    <div class="form-group">
                        <label for="nexo"><strong>Está seguro?</strong></label>
                    </div>
                
                <button class="btn btn-success btn-success-next mr-2" (click)="guardarLlamada()">
                    Aceptar <span class="fa fa-check"></span>
                </button>
                <button class="btn btn-secondary btn-success-next" (click)="closePopupLlamadaRealizada()">
                    Cancelar <span class="fa fa-times"></span>
                </button>
            </p-dialog>

            <p-dialog [(visible)]="showEditarContacto" [formGroup]="agregarContactoFormGroup" modal="true" header="Editar Contacto">
                <div class="form-group">
                    <label for="nroDocumento"><strong>Número de Documento</strong><span class="text-danger">*</span></label>
                    <input type="text" formControlName="nroDocumento" name="nroDocumento" class="form-control" style="max-width: 400px;" id="nroDocumento" required>
                </div>
                <div class="form-group">
                        <label for="nombres"><strong>Nombres</strong><span class="text-danger">*</span></label>
                        <input type="text" formControlName="nombres" name="nombres" class="form-control" style="max-width: 400px;" id="nombres" required>
                </div>
                <div class="form-group">
                    <label for="apellidos"><strong>Apellidos</strong><span class="text-danger">*</span></label>
                    <input type="text" formControlName="apellidos" name="apellidos" class="form-control" style="max-width: 400px;" id="apellidos" required>
                </div>
                <div class="form-group">
                    <label for="telefono"><strong>Teléfono</strong><span class="text-danger">*</span></label>
                    <input type="text" formControlName="telefono" name="telefono" class="form-control" style="max-width: 400px;" id="telefono" placeholder="Introducir mínimo 9 números" minlength="9" required>
                </div>
                <div class="form-group">
                    <label for="domicilio"><strong>Domicilio</strong><span class="text-danger">*</span></label>
                    <input type="text" formControlName="domicilio" name="domicilio" class="form-control" style="max-width: 400px;" id="domicilio" required>
                </div>
                <div class="form-group">
                    <label for="fechaUltimoContacto">Fecha Último Contacto<span class="text-danger">*</span></label>
                    <br>
                    <p-calendar formControlName="fechaUltimoContacto" [maxDate]="hoy" [readonlyInput]="true" dateFormat="dd/mm/yy" [locale]="es" dataType="string" appendTo="body" id="fechaUltimoContacto"></p-calendar>
                </div>
                <div class="form-group">
                    <label for="tipo"><strong>Descripción</strong><span class="text-danger">*</span></label>
                    <input type="text" formControlName="tipo" name="tipo" class="form-control" style="max-width: 400px;" id="tipo" required>
                </div>
                <div>
                    <button (click)="editarContacto()" class="btn btn-success btn-success-next" [disabled]="!agregarContactoFormGroup.valid || loading">
                        Editar Contacto
                        <span class="fa fa-check"></span>
                    </button>&nbsp;

                    <button class="btn btn-secondary btn-success-next" (click)="closeEditarContacto()">
                        Cerrar
                        <span class="fa fa-times"></span>
                    </button>
                </div>
            </p-dialog>

            <p-dialog [(visible)]="showAgregarContacto" [formGroup]="agregarContactoFormGroup" modal="true" header="Agregar Contacto">
                <div class="form-group">
                    <label for="nroDocumento"><strong>Número de Documento</strong><span class="text-danger">*</span></label>
                    <input type="text" formControlName="nroDocumento" name="nroDocumento" class="form-control" style="max-width: 300px;" id="nroDocumento" required>
                </div>
                <div class="form-group">
                        <label for="nombres"><strong>Nombres</strong><span class="text-danger">*</span></label>
                        <input type="text" formControlName="nombres" name="nombres" class="form-control" style="max-width: 300px;" id="nombres" required>
                </div>
                <div class="form-group">
                    <label for="apellidos"><strong>Apellidos</strong><span class="text-danger">*</span></label>
                    <input type="text" formControlName="apellidos" name="apellidos" class="form-control" style="max-width: 300px;" id="apellidos" required>
                </div>
                <div class="form-group">
                    <label for="telefono"><strong>Teléfono</strong><span class="text-danger">*</span></label>
                    <input type="text" formControlName="telefono" name="telefono" class="form-control" style="max-width: 300px;" id="telefono" placeholder="Introducir mínimo 9 números" minlength="9" required>
                </div>
                <div class="form-group">
                    <label for="domicilio"><strong>Domicilio</strong><span class="text-danger">*</span></label>
                    <input type="text" formControlName="domicilio" name="domicilio" class="form-control" style="max-width: 300px;" id="domicilio" required>
                </div>
                <div class="form-group">
                    <label for="fechaUltimoContacto">Fecha Último Contacto<span class="text-danger">*</span></label>
                    <br>
                    <p-calendar formControlName="fechaUltimoContacto" [maxDate]="hoy" [readonlyInput]="true" dateFormat="dd/mm/yy" [locale]="es" dataType="string" appendTo="body" id="fechaUltimoContacto"></p-calendar>
                </div>
                <div class="form-group">
                    <label for="tipo"><strong>Descripción</strong><span class="text-danger">*</span></label>
                    <input type="text" formControlName="tipo" name="tipo" class="form-control" style="max-width: 300px;" id="tipo" required>
                </div>

                <div>
                    <button (click)="agregarContacto()" class="btn btn-success btn-success-next" [disabled]="!agregarContactoFormGroup.valid || loading">
                        Agregar Contacto
                        <span class="fa fa-check"></span>
                    </button>&nbsp;

                    <button class="btn btn-secondary btn-success-next" (click)="closeAgregarContacto()">
                        Cerrar
                        <span class="fa fa-times"></span>
                    </button>
                </div>
            </p-dialog>

            <p-dialog [(visible)]="showNoAtiende" modal="true" header="Estás seguro?">
                <div>
                    <button class="btn btn-success btn-success-next" (click)="closePopupNoAtiende()">
                        Aceptar
                        <span class="fa fa-check"></span>
                    </button>&nbsp;

                    <button class="btn btn-secondary btn-success-next" (click)="closePopupNoAtiende()">
                        Cancelar
                        <span class="fa fa-times"></span>
                    </button>
                </div>
            </p-dialog>

            <p-dialog [(visible)]="showSuspenderContacto" modal="true" header="Suspender Contacto">
                <div>
                    <div class="form-group">
                        <label for="motivo"><strong>Informe el motivo</strong><span class="text-danger">*</span></label><br>
                        <textarea id="motivo" cols="50" rows="5"></textarea>
                    </div>
                    <button class="btn btn-success btn-success-next mr-2" (click)="closePopupSuspender()">
                        Aceptar <span class="fa fa-check"></span>
                    </button>

                    <button class="btn btn-secondary btn-success-next" (click)="closePopupSuspender()">
                        Cancelar <span class="fa fa-times"></span>
                    </button>
                </div>
            </p-dialog>
        </div>
    </div>
</div>
</div>
