<div id="page-header" class="bg-gradient bg-shadow" style="padding: 0px 0;">
    <div class="container clearfix">
        <nav class="breadcrumb">
            
        </nav>
    </div>
</div>
<div id="content" class="pb-0">
  <div id="content" class="pb-0 pt-2">
    <div class="container pb-6">
    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="XLS" (click)="getAllPacientes()" 
    style="float:right;margin-right: 0.5em;margin-top: 1.5em;width: 60px;" class="ui-button-success"></button>
    <h3 class="title-divider text-primary">
      <i class="fa fa-edit mr-2" style="margin-top: -4px;"></i>
      <span>Lista de pacientes</span>
    </h3>
        
        <p-table #table [columns]="cols" [value]="pacientesList" selectionMode="single" dataKey="id" [paginator]="true"
          [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" [lazy]="true" (onLazyLoad)="load($event)"
          paginatorPosition="bottom" editMode="row" [resizableColumns]="true" columnResizeMode="expand">
          <ng-template pTemplate="caption">           
            <div style="text-align: left;width:auto;">
                <input type="text" pInputText style="width:555px;" placeholder="Filtrar Pacientes por nro de documento, nombre, apellido, teléfono o departamento" (input)="table.filterGlobal($event.target.value, 'contains')">
            </div>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn [style.width]="col.width">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <th>
                Acciones
              </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
              <td>
                {{rowData.numeroDocumento}}
              </td>
              <td>
               {{rowData.nombre}}
              </td>
              <td>
                {{rowData.apellido}}
              </td>
              <td>
                {{rowData.numeroCelular}}
              </td>
              <td>
                {{rowData.departamentoDomicilio}}
              </td>
              <!--<td>
                {{rowData.tipo}}
              </td>
              <td>
                {{rowData.fechaUltimoContacto | date:'dd-MM-yyyy'}}
              </td>-->
              <td align="center">
                <button type="button" pButton icon="pi pi-pencil" iconPos="left" (click)="editarPaciente(rowData.numeroDocumento)" class="ui-button-warning mr-2 mb-1" style="font-size:10px;width:150px" label="Editar"></button>
              </td>
            </tr>
        </ng-template>
        </p-table>
        <button class="btn btn-success btn-success-next text-white mt-5" mat-button routerLink="/covid19/home-operador">
          Menú Principal  <span class="fa fa-arrow-left"></span>            
      </button>
    </div>
  </div>
</div>