<div id="page-header" class="bg-gradient bg-shadow">
    <div class="header-text clearfix">
        <h3 class="pull-left" *ngIf="ruta == 'tramites-con-eid' || ruta == 'carpeta-ciudadana'">Trámites y Documentos con tu identidad electrónica</h3>
        <h3 class="pull-left" *ngIf="ruta == 'validar-documento'">Validación de documento</h3>
    </div>
</div>

<!-- VIEW DOCUMENT -->
<div class="content fullscreen-container">
    <div class="row" style="margin-top:5px !important;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
            <div style="height:100%;width:100%;padding:40px;">
                
                <div class="text-center" style="padding:40px;" *ngIf="loading">
                    <img src="assets/img/misc/icon_loading.gif" alt="Cargando.." /> Cargando documento...
                </div>
                
                <div class="row" *ngIf="objId && !loading">
                    <div class="offset-lg-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 p-3">
                        <div class="card text-center">
                            <div class="alert">
                                <div class="alert-success" style="padding:10px;"> 
                                    <span class="fa fa-check"></span>
                                    Se ha generado con éxito el documento.
                                </div>
                            </div>
                            <h5 class="p-2">
                                Podés bajar el documento dando clic en <i class="fa fa-download nav-link-icon"></i>
                            </h5>
                            <div class="card-header white-text text-uppercase font-weight-bold text-center">
                                <button type="button" class="btn btn-primary" style="margin-right:10px;" data-dismiss="modal" (click)="getDocumento(true)">
                                    <i class="fa fa-download nav-link-icon"></i> Descargar
                                </button>
                                <button type="button" class="btn btn-default" style="margin-right:10px;" data-dismiss="modal" (click)="cancelGenerarDocumento()">
                                    <i class="fa fa-angle-double-left"></i> Atrás
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>    
</div>