.header-text {
    padding-left: 15px;
}
.item-card {
    font-size:20px; 
    font-weight: bold; 
    cursor: pointer;
}

.divider {
    margin-top: 60px !important;
    margin-bottom: 30px !important;
}

.modal-open {
    overflow: auto !important;
}