<div id="page-header" class="bg-gradient bg-shadow">
    <div class="container clearfix">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" routerLink="/"><i class="fa fa-home fa-lg text-primary" aria-hidden="true"></i></a>
            <span class="breadcrumb-item text-capitalize" routerLink="/listados">Listado de Reportes</span>
        </nav>
    </div>
</div>

<div class="content pb-4">

    <div class="container pt-5 header-text clearfix">
        <h3 class="mb-0"><span class="far fa-chart-bar text-default menu-item-icon text-center fa-fw"></span> 
            Listado de Reportes
        </h3>
    </div> <br/>

    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">   
            <div class="col-lg-12 col-md-12 col-xs-12">
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr><td><a routerLink="/listados/tramites-mas-demandados-para-su-puesta-online">Listado de trámites más demandados para su puesta online</a></td></tr>
                        <tr><td><a routerLink="/listados/tramites-por-institucion">Listado de trámites por instituciones</a></td></tr>
                        <tr><td><a routerLink="/listados/tramites-sin-categoria">Listado de trámites sin categorías</a></td></tr>
                        <tr><td><a routerLink="/listados/tramites-sin-etiqueta">Listado de trámites sin etiquetas</a></td></tr>
                        <tr><td><a routerLink="/listados/oee-sin-tramites">Listado de Oee sin trámites</a></td></tr>
                        <tr><td><a routerLink="/listados/oee-total">Listado de Oee (total)</a></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>
