<div class="nav nav-section-menu">
    <a class="nav-link nav-link-custom pr-1" style="font-size: 15px;" routerLink="/perfil-ciudadano" routerLinkActive="active">
        <span class="far fa-user-circle text-default menu-item-icon text-center fa-fw"></span> 
        <span class="menu-item-text">Mi Perfil</span>
    </a>

    <a class="nav-link nav-link-custom pr-1" style="font-size: 15px;" routerLink="/carpeta-ciudadana" routerLinkActive="active">
        <span class="far fa-folder-open text-default menu-item-icon text-center fa-fw"></span> 
        <span class="menu-item-text">Carpeta Ciudadana</span>
    </a>

    <a class="nav-link nav-link-custom pr-1" style="font-size: 15px;" routerLink="/otros-tramites-en-linea" routerLinkActive="active">
        <span class="far fa-copy text-default menu-item-icon text-center fa-fw"></span> 
        <span class="menu-item-text">Trámites en Línea</span>
    </a>

    <a class="nav-link nav-link-custom pr-1" style="font-size: 15px;" routerLink="/marco-legal" routerLinkActive="active">
        <span class="fab fa-leanpub text-default menu-item-icon text-center fa-fw"></span> 
        <span class="menu-item-text">Marco Legal</span>
    </a>

    <a class="nav-link nav-link-custom pr-1" style="font-size: 15px;" (click)="logout()" routerLinkActive="active">
        <span class="fas fa-times text-default menu-item-icon text-center fa-fw"></span> 
        <span class="menu-item-text">Cerrar Sesión</span>
    </a>
</div>

<div *ngIf="fotoPerfil">
    <h4 class="mb-2 text-primary fondo-title-profile">Foto de Perfil</h4>
    <div class="card" style="border:none;">
        <img class="card-img-center" style="max-width: 200px; height: auto; background-size: cover;
                                            border-radius: 50%; border: 4px solid #fff;
                                            box-shadow: 1px 1px 1px 1px #ccc;
                                            object-fit: cover;object-position: center right;" [src]="fotoPerfil" alt="perfil">
        <div class="card-body"></div>
    </div>
</div>