.menu-item-text{
    padding-left: 15px;
}

.menu-item-icon{
    font-size:16px;
}

.nav-section-menu .nav, .nav-section-menu.nav{
    border: none;
}
.nav-link-custom{
    font-weight:500 !important; 
    border-right: 1px solid #ccc !important;
}
.nav-section-menu .nav .nav-link.active, .nav-section-menu.nav .nav-link.active, .nav-section-menu .nav .nav-link.active:hover, .nav-section-menu.nav .nav-link.active:hover, .nav-section-menu .nav .active .nav-link, .nav-section-menu.nav .active .nav-link, .nav-section-menu .nav .active .nav-link:hover, .nav-section-menu.nav .active .nav-link:hover{
    font-weight: bold !important;
    border-right: 1px solid #ccc !important;
    background: #001c54 !important;
    color: #fff !important;
}

.fondo-title-profile {
    background: #292b2c !important;
    color: #fff !important;
    padding: 8px;
    font-size: 16px;
    margin-top: 20px;
}