<div id="topcab"></div>
<div id="page-header" class="bg-gradient bg-shadow">
    <div class="container clearfix">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" routerLink="/"><i class="fa fa-home fa-lg text-primary" aria-hidden="true"></i></a>
            <span class="breadcrumb-item active text-capitalize">{{titulo}}</span>
        </nav>
    </div>
</div>

<div id="content" class="pb-0">
    <div class="container">
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary">
        <h2 class="text-center text-uppercase font-weight-bold my-0">
            {{titulo}}
        </h2>
        <hr class="mb-5 w-50 mx-auto">

        <div class="card-deck pb-6">
            

            <div class="card">
                <a routerLink="/estadisticas-portal/tramites-institucion" style="text-decoration: none;">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0"  data-bg-img="assets/img/clasificacion-estadistica1.jpg" style="background-image: url('assets/img/clasificacion-estadistica1.jpg') !important;">
                        <i class="far fa-chart-bar fa-3x"></i><br/>                        
                        <h4 class="text-white text-uppercase mb-0" style="line-height:20px;">
                            Trámites en línea
                        </h4>
                        <hr class="w-50 mx-auto">
                    </div>
                </a>
            </div>

            <div class="card">
                <a routerLink="/estadisticas-portal/tramites-ciclo-vida" style="text-decoration: none;">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0"  data-bg-img="assets/img/clasificacion-estadistica6.jpg" style="background-image: url('assets/img/clasificacion-estadistica6.jpg') !important;">
                        <i class="fas fa-chart-pie fa-3x"></i><br/>
                        <h4 class="text-white text-uppercase mb-0" style="line-height:20px;">
                            Trámites por Ciclo de Vida
                        </h4>
                        <hr class="w-50 mx-auto">
                    </div>
                </a>
            </div>

            <div class="card">
                <a routerLink="/estadisticas-portal/tramites-categoria" style="text-decoration: none;">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0"  data-bg-img="assets/img/clasificacion-estadistica4.jpg" style="background-image: url('assets/img/clasificacion-estadistica4.jpg') !important;">
                        <i class="far fa-chart-bar fa-3x"></i><br/>
                        <h4 class="text-white text-uppercase mb-0" style="line-height:20px;">
                            Trámites por Categoría
                        </h4>
                        <hr class="w-50 mx-auto">
                    </div>
                </a>
            </div>
            
        </div>

        <div class="card-deck pb-6">
            
            <div class="card">
                <a routerLink="/estadisticas-portal/tramites-etiqueta" style="text-decoration: none;">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0"  data-bg-img="assets/img/clasificacion-estadistica2.jpg" style="background-image: url('assets/img/clasificacion-estadistica2.jpg') !important;">
                        <i class="far fa-chart-bar fa-3x"></i><br/>
                        <h4 class="text-white text-uppercase mb-0" style="line-height:20px;">
                            Trámites por Etiqueta
                        </h4>
                        <hr class="w-50 mx-auto">
                    </div>
                </a>
            </div>
            <div class="card">
                <a routerLink="/estadisticas-portal/satisfaccion-tramites" style="text-decoration: none;">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0"  data-bg-img="assets/img/clasificacion-estadistica3.jpg" style="background-image: url('assets/img/clasificacion-estadistica3.jpg') !important;">
                        <i class="fas fa-chart-pie fa-3x"></i><br/>
                        <h4 class="text-white text-uppercase mb-0" style="line-height:20px;">
                            Satisfacción de Trámites
                        </h4>
                        <hr class="w-50 mx-auto">
                    </div>
                </a>
            </div>

            <div class="card">
                <a routerLink="/estadisticas-portal/porcentaje-tramites-online" style="text-decoration: none;">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0"  data-bg-img="assets/img/clasificacion-estadistica1.jpg" style="background-image: url('assets/img/clasificacion-estadistica1.jpg') !important;">
                        <i class="far fa-chart-bar fa-3x"></i><br/>                        
                        <h4 class="text-white text-uppercase mb-0" style="line-height:20px;">
                            % Trámites en línea
                        </h4>
                        <hr class="w-50 mx-auto">
                    </div>
                </a>
            </div>

            <div class="card">
                <a routerLink="/estadisticas-portal/cantidad-documentos" style="text-decoration: none;">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0"  data-bg-img="assets/img/clasificacion-estadistica1.jpg" style="background-image: url('assets/img/clasificacion-estadistica1.jpg') !important;">
                        <i class="far fa-chart-bar fa-3x"></i><br/>                        
                        <h4 class="text-white text-uppercase mb-0" style="line-height:20px;">
                            Cantidad de Documentos
                        </h4>
                        <hr class="w-50 mx-auto">
                    </div>
                </a>
            </div>

        </div>

        <div class="row text-left"></div>
    </div>
</div>