<div id="page-header" class="bg-gradient bg-shadow" style="padding: 0px 0;">
  <div class="container clearfix">
    <nav class="breadcrumb">

    </nav>
  </div>
</div>
<div id="content" class="pb-0">
<div class="ui-fluid">
  <p-growl [value]="msgs" sticky="sticky"></p-growl>
  <div class="ui-g">
    <p-blockUI [target]="table" [blocked]="block">
      <p-progressSpinner class="spinner-position"></p-progressSpinner>
    </p-blockUI>

    <div class="ui-g-12">
      <div class="card card-w-title ui-shadow-2">
        <h1>Personas Sin Reportar Ubicación</h1>
        <p-table #table [columns]="cols" [value]="reportes" selectionMode="single" dataKey="id" [paginator]="true"
          [rows]="pageSize" [totalRecords]="totalRecords" [responsive]="true" [lazy]="true" (onLazyLoad)="load($event)"
          paginatorPosition="bottom" [resizableColumns]="true" columnResizeMode="expand" [loading]="loading" loadingIcon="fa fa-spinner">

          <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
              <button type="button" pButton icon="fa fa-file" style="float:left;width: 120px;"
                      class="btn btn-success btn-success-next"
                      label="Exportar" (click)="onDownloadCsv()"></button>
              <div style="display: flex; justify-content: flex-end">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="30%" placeholder="Filtrar"
                       (input)="table.filterGlobal($event.target.value, 'contains')" style="width:auto">
                <p-dropdown [options]="filters" [(ngModel)]="selectedFilter" [showClear]="true" [style]="{'width':'180px'}"></p-dropdown>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.sort ? col.field : ''" pResizableColumn [style.width]="col.width">
                {{col.header}}
                <p-sortIcon *ngIf="col.sort" [field]="col.field"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-reporte let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                <span *ngIf="!col.isDate; else dateFormatField">
                   {{reporte[col.field]}}
                </span>
                <ng-template #dateFormatField>
                  {{reporte[col.field]  | date:'dd/MM/yyyy HH:mm'}}
                </ng-template>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <button type="button" pButton icon="fa fa-arrow-left"
              style="width: 100px"
              class="btn btn-success btn-success-next"
              label="Volver" routerLink="/covid19/home-operador"></button>
    </div>
  </div>
</div>
