<div id="topcab"></div>
<div id="page-header" class="bg-gradient bg-shadow">
    <div class="container">
        <div class="header-text clearfix">
            <h3 class="pull-left mb-0">
                <span class="far fa-folder-open text-default menu-item-icon text-center fa-fw"></span> Carpeta Ciudadana
            </h3>
        </div>
    </div>
</div>

<div class="content pb-4" *ngIf="ciudadano && infoCarpetaCiudadana">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <menu-ciudadano></menu-ciudadano>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" *ngIf="ciudadano">
                <h4 class="mt-4 mb-4 text-primary">Mis documentos en mi carpeta ciudadana</h4>
                
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-xs-12" *ngFor="let data of infoCarpetaCiudadana | sort: 'key'; let i = index">

                        <div class="card-deck">
                            <div style="max-height:120px !important;border:none;cursor:pointer;" class="card" (click)="viewInfo(i)">
                                <div class="card-block text-center py-lg-3 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0"  
                                        data-bg-img="assets/img/clasificacion-estadistica1.jpg"
                                        style="background-image: url('assets/img/enlaces-de-interes.jpg') !important;">

                                    <span class="fa fa-folder-open fa-2x" *ngIf="data.view"></span>
                                    <span class="fa fa-folder fa-2x" *ngIf="!data.view"></span>

                                    <h4 class="text-white text-uppercase mb-0" style="font-size:10px;line-height:14px;margin:2px;">{{ data.name }}</h4>
                                    <hr class="w-50 mx-auto">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>   
        </div>    
    </div>    
</div>

<!-- VIEW DETALLE -->
<div class="modal fade" id="modalDetalleDocumento" tabindex="-1" role="dialog" aria-labelledby="modalDetalleDocumento" aria-hidden="true">
    <div style="max-width:800px;" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h3 class="modal-title" id="modalDetalleDocumento">
                    {{ docSelected.name }}
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-lg-12 col-md-12 col-xs-12" style="padding:10px;">
                    <div class="alert alert-warning" *ngIf="docSelected?.value && docSelected?.value.length <= 0">
                        <p>No se encontraron datos en tu carpeta ciudadana de este tipo de documento</p>
                        <p> Podés generar el documento dando clic en
                            <button type="button" style="margin-left: 5px;"  class="btn btn-sm btn-success btn-success-next" (click)="generarDocumento(docSelected)">
                                <i class="fa fa-file-import"></i>  Generar Documento
                            </button>
                        </p>
                    </div>
                    
                    <div class="table-responsive" *ngIf="docSelected?.value && docSelected?.value.length > 0" class="pl-3 mb-3">          
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="font-size:12px;">Generado</th>
                                    <th style="font-size:12px;">Fecha</th>
                                    <th style="font-size:12px;">Sistema</th>
                                    <th style="font-size:12px;"></th>
                                    <th style="font-size:12px;"></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let result of docSelected.value">
                                <tr>
                                    <td style="font-size:12px;">{{ result.generadoPor }}</td>
                                    <td style="font-size:12px;">{{ result.fechaGeneracion | date: 'dd/MM/yyyy HH:mm' }}</td>
                                    <td style="font-size:12px;">{{ result.sistemaGenerador }}</td>
                                    <td style="font-size:12px;" *ngIf="result.liq">
                                        <b>Fecha: </b> {{ result.liq?.fechaSolicitud | date: 'dd/MM/yyyy' }} <br/>
                                        <b>Estado: </b> {{ result.liq?.estadoSolicitud }}
                                    </td>
                                    <td>
                                        <button type="button" style="margin:5px;" class="btn btn-sm btn-success btn-success-next" (click)="generarDocumentoHistorico(result)">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="content fullscreen-container" *ngIf="ciudadano && loading">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0" style="margin-top:5px !important;" *ngIf="ciudadano">
                            <div style="height:100%; width:100%;">
                                <div class="text-center" style="margin:40px;" *ngIf="loading">
                                    <img src="assets/img/misc/icon_loading.gif" alt="Cargando.." /> Procesando solicitud...
                                </div>
                                <div class="alert alert-danger" style="margin:40px;" *ngIf="!resultado.status">
                                    <i class="fa fa-info-circle"></i> {{resultado.message}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <fieldset class="w-100">
                    <button type="button" style="float:left;margin-left: 5px;" class="btn btn-sm btn-primary pull-left" *ngIf="docSelected?.value && docSelected?.value.length > 0" (click)="generarDocumento(docSelected)">
                        <i class="fa fa-file-import"></i>  Generar Documento
                    </button>
                    <button type="button" class="btn btn-sm btn-primary pull-right" data-dismiss="modal">
                        <i class="fa fa-remove"></i> Cerrar
                    </button>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<!-- VIEW SNPP -->
<div class="modal fade" id="modalView" tabindex="-1" role="dialog" aria-labelledby="modalView" aria-hidden="true">
    <div style="max-width:800px;" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h3 class="modal-title" id="modalView">
                    Lista de Certificados - SNPP
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                
                <div class="col-lg-12 col-md-12 col-xs-12" style="padding:10px;" *ngFor="let curso of cursos?.data">
                    <ul class="list-group">
                        <a class="list-group-item list-group-item-action flex-column align-items-start" (click)="getCertificadoSnpp(cursos.key, curso)" style="cursor: pointer;">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{curso.especialidad}}</h5>
                                <small>{{curso.fecha_fin}}</small>
                            </div>
                            <small><b>Fuente Consulta: </b>  {{curso.fuente_consulta}}</small>
                        </a>
                    </ul>
                </div>
                
                <div class="text-center" style="margin:40px;" *ngIf="loading">
                    <img src="assets/img/misc/icon_loading.gif" alt="Cargando.." /> Procesando solicitud...
                </div>

                <div class="alert alert-danger" style="margin:40px;" *ngIf="!resultado.status">
                    <i class="fa fa-info-circle"></i> {{resultado.message}}
                </div>
        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- VIEW RUC SET -->
<div class="modal fade" id="modalRucSet" tabindex="-1" role="dialog" aria-labelledby="modalRucSet" aria-hidden="true">
    <div style="max-width:800px;" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-4">
            <div class="modal-header" *ngIf="docSelected && docSelected.params">
                <h1>{{ docSelected.params.titulo }}</h1>
            </div>
            <div class="modal-body row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                    <div *ngIf="docSelected && docSelected.params">
                        <div class="form-group">
                            <label class="control-label" for="dv"><strong> Digito Verificador </strong> </label>
                            <input type="text" [(ngModel)]="docSelected.params.dv" class="form-control">
                        </div>
                    </div>

                    <div class="content fullscreen-container" *ngIf="ciudadano && loading">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0" style="margin-top:5px !important;" *ngIf="ciudadano">
                            <div style="height:100%; width:100%;">
                                <div class="text-center" style="margin:40px;" *ngIf="loading">
                                    <img src="assets/img/misc/icon_loading.gif" alt="Cargando.." /> Procesando solicitud...
                                </div>
                                <div class="alert alert-danger" style="margin:40px;" *ngIf="!resultado.status">
                                    <i class="fa fa-info-circle"></i> {{resultado.message}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="getRptDocument(docSelected.params);">
                    <i class="fa fa-file-import"></i> Aceptar
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <i class="fa fa-remove"></i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- VIEW ACTA N-M REC
<div class="modal fade" id="modalActaNMDrec" tabindex="-1" role="dialog" aria-labelledby="modalActaNMDrec" aria-hidden="true">
    <div style="max-width:800px;" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-4">
            <div class="modal-header" *ngIf="docSelected && docSelected.params">
                <h1>{{ docSelected.params.titulo }}</h1>
            </div>
            <div class="modal-body row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div *ngIf="docSelected && docSelected.params">
                        <div class="form-group">
                            <label class="control-label" for="sistemaConsulta"><strong> Sistema de Consulta </strong> </label>
                            <select class="form-control" [(ngModel)]="docSelected.params.sistemaConsulta" name="sistemaConsulta">
                                <option value="0" selected>Seleccione</option>
                                <option *ngFor="let tp of sistemasDeConsultas" [value]="tp.id">{{ tp.descripcion }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="alert alert-info">
                                <i class="fa fa-info-circle"></i> Las fuentes de información se diferencia de la siguiente manera. <br/>
                                <b>SRI (Sistema de Recuperación de Información)</b>, sus datos no han sido validados aún por usted, en caso de encontrar algún detalle en la información, debe acudir a la Dirección General del Registro  del Estado Civil. <br/>
                                <b>SGR (Sistema de Gestión Registral)</b>, sus datos ya fueron validados por usted.
                            </div>
                        </div>
                    </div>

                    <div class="content fullscreen-container" *ngIf="ciudadano && loading">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0" style="margin-top:5px !important;" *ngIf="ciudadano">
                            <div style="height:100%; width:100%;">
                                <div class="text-center" style="margin:40px;" *ngIf="loading">
                                    <img src="assets/img/misc/icon_loading.gif" alt="Cargando.." /> Procesando solicitud...
                                </div>
                                <div class="alert alert-danger" style="margin:40px;" *ngIf="!resultado.status">
                                    <i class="fa fa-info-circle"></i> {{resultado.message}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="getRptDocument(docSelected.params);">
                    <i class="fa fa-file-import"></i> Aceptar
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <i class="fa fa-remove"></i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
 -->

<div class="modal fade" id="modalActaNHijoRec" tabindex="-1" role="dialog" aria-labelledby="modalActaNHijoRec" aria-hidden="true">
    <div style="max-width:800px;" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-4">
            <div class="modal-header" *ngIf="docSelected && docSelected.params">
                <h1>{{ docSelected.params.titulo }}</h1>
            </div>
            <div class="modal-body row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div *ngIf="docSelected && docSelected.params">
                        <!-- <div class="form-group">
                            <label class="control-label" for="sistemaConsulta"><strong> Sistema de Consulta </strong> </label>
                            <select class="form-control" [(ngModel)]="docSelected.params.sistemaConsulta" name="sistemaConsulta">
                                <option value="0" selected>Seleccione</option>
                                <option *ngFor="let tp of sistemasDeConsultas" [value]="tp.id">{{ tp.descripcion }}</option>
                            </select>
                        </div> -->

                        <div class="form-group">
                            <label class="control-label" for="cedulaHijo"><strong> Cédula Hijo </strong> </label>
                            <input type="text" [(ngModel)]="docSelected.params.cedulaHijo" class="form-control">
                        </div>

                        <!-- <div class="form-group">
                            <div class="alert alert-info">
                                <i class="fa fa-info-circle"></i> Las fuentes de información se diferencia de la siguiente manera. <br/>
                                <b>SRI (Sistema de Recuperación de Información)</b>, sus datos no han sido validados aún por usted, en caso de encontrar algún detalle en la información, debe acudir a la Dirección General del Registro  del Estado Civil. <br/>
                                <b>SGR (Sistema de Gestión Registral)</b>, sus datos ya fueron validados por usted.
                            </div>
                        </div> -->
                    </div>

                    <div class="content fullscreen-container" *ngIf="ciudadano && loading">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0" style="margin-top:5px !important;" *ngIf="ciudadano">
                            <div style="height:100%; width:100%;">
                                <div class="text-center" style="margin:40px;" *ngIf="loading">
                                    <img src="assets/img/misc/icon_loading.gif" alt="Cargando.." /> Procesando solicitud...
                                </div>
                                <div class="alert alert-danger" style="margin:40px;" *ngIf="!resultado.status">
                                    <i class="fa fa-info-circle"></i> {{resultado.message}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="getRptDocument(docSelected.params);">
                    <i class="fa fa-file-import"></i> Aceptar
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <i class="fa fa-remove"></i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>


<div class="spance-footer"></div>
