<div id="page-header" class="bg-gradient bg-shadow">
    <div class="container clearfix">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="">
                <i class="fa fa-home fa-lg text-primary" aria-hidden="true"></i>
            </a>
            <a class="breadcrumb-item" routerLink="/">El Estado</a>
        </nav>
    </div>
</div>

<div id="content" class="pb-0">
    <div class="container pb-6">
        <h3 class="texto-accesible-H3 mb-2">
            Planes Nacionales
        </h3>
        <div class="row mb-2">
            <div class="col-md-12">
                <p class="texto-accesible-p">
                    El siguiente listado, detalla los documentos de las políticas y planes nacionales más importantes del Paraguay, alineados al desarrollo del país en varios sectores prioritarios. Todos los planes están alineados al Plan Nacional de Desarrollo del Paraguay
                    2014 - 2030, el cual establece objetivos organizados en tres ejes estratégicos y cuatro lineas transversales.
                </p>
            </div>
        </div>
        <div class="texto-accesible-p">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Nro.</th>
                        <th>Planes</th>
                        <th>Institución Representante</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let plan of planes">
                        <td>{{plan.nro}}</td>
                        <td>{{plan.nombre}}</td>
                        <td>{{plan.institucion}}</td>
                        <td>
                            <a [href]="plan.url" *ngIf="!plan.externo" class="btn btn-default" target="_blank">
                                <i class="fas fa-download mr-2"></i>
                            </a>
                            <a [routerLink]="plan.url" *ngIf="plan.externo" class="btn btn-default">
                                <i class="fas fa-link mr-2"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>