<div id="page-header" class="bg-gradient bg-shadow">
    <div class="container clearfix">
        <nav class="breadcrumb">
            <a class="breadcrumb-item"><i class="fa fa-home fa-lg text-primary" aria-hidden="true"></i></a>
            <span class="breadcrumb-item" *ngIf="entidades && entidades.length > 0" routerLink="/estado">El Estado</span>
            <span class="breadcrumb-item active text-capitalize">{{titulo}}</span>
        </nav>
    </div>
</div>

<div id="content" class="pb-0">
    <div class="container">
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary">
        <h2 class="text-center text-uppercase font-weight-bold my-0">
            {{titulo}}
        </h2>
        <hr class="mb-5 w-50 mx-auto" />
    
        <div class="row text-left" *ngIf="entidades && entidades.length > 0">
            <div class="col-lg-4 col-md-4 sidebar-section mb-5 pt-4" style="border-radius:10px;">

                <div class="mb-3"><strong><i style="margin-top:-4px;" class="fa fa-angle-right"></i> Poderes</strong></div>
                <ul class="list-group texto-accesible-ul nav nav-section-menu-left pb-0 mb-4">
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/estado/poder-ejecutivo" routerLinkActive="active" class="nav-link">
                            <span>Poder Ejecutivo <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/estado/poder-legislativo" routerLinkActive="active" class="nav-link">
                            <span>Poder Legislativo <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/estado/poder-judicial" routerLinkActive="active" class="nav-link">
                            <span>Poder Judicial <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                </ul>

                <div class="mb-3"><strong><i style="margin-top:-4px;" class="fa fa-angle-right"></i> Otras Entidades</strong></div>
                <ul class="list-group texto-accesible-ul nav nav-section-menu-left pb-0 mb-4">

                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/estado/otros" (click)="scrollTop()" routerLinkActive="active" class="nav-link">
                            <span>Otros Organismos del Estado <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/estado/universidades-nacionales"(click)="scrollTop()" routerLinkActive="active" class="nav-link">
                            <span>Universidades Nacionales <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/estado/cgr" (click)="scrollTop()" routerLinkActive="active" class="nav-link">
                            <span>Contraloría General de la República <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/estado/binacionales" (click)="scrollTop()" routerLinkActive="active" class="nav-link">
                            <span>Entidades Binacionales <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/estado/banca-central" (click)="scrollTop()" routerLinkActive="active" class="nav-link">
                            <span>Banca Central del Estado <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/estado/autonomos-autarquicos" (click)="scrollTop()" routerLinkActive="active" class="nav-link">
                            <span>Entes Autónomos y Autárquicos <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/estado/seguridad-social" (click)="scrollTop()" routerLinkActive="active" class="nav-link">
                            <span>Entidades Públicas de Seguridad Social <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/estado/empresas-publicas" (click)="scrollTop()" routerLinkActive="active" class="nav-link">
                            <span>Empresas Públicas <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/estado/financieras" (click)="scrollTop()" routerLinkActive="active" class="nav-link">
                            <span>Entidades Financieras Oficiales <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/estado/sa" (click)="scrollTop()" routerLinkActive="active" class="nav-link">
                            <span>Sociedades Anónimas <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a href="https://www.gobernaciones.gov.py/" target="_blank" (click)="scrollTop()" routerLinkActive="active" class="nav-link">
                            <span>Gobernaciones <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a href="https://www.municipios.gov.py/" target="_blank" (click)="scrollTop()" routerLinkActive="active" class="nav-link">
                            <span>Municipios <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>

                </ul>
            </div>

            <!--LINK-->
            <div class="col-lg-8 col-md-8">
                <ul class="list-group texto-accesible-ul pb-6">
                    <li class="list-group-item list-group-item-action pointer" *ngFor="let entidad of entidades" routerLink="/estado/{{urlPoder}}/{{entidad.urlEntidad}}">
                        <i class="fa fa-university fa-fw text-primary pointer" style="margin-top:-5px;" aria-hidden="true"></i> {{entidad.descripcionEntidad}}
                        <span class="badge badge-primary badge-pill" style="float: right;">{{entidad.cantidadOee}}</span>
                    </li>
                </ul>
            </div>

        </div>

        <div *ngIf="!entidades || entidades.length <= 0">

            <div class="row mb-5">
                <div class="col-lg-4 col-md-4 d-flex">
                    <a routerLink="/estado/poder-ejecutivo" class="flex-ew flex-valign">
                        <div class="text-center p-4 py-lg-5 overlay overlay-op-7 rounded flex-ew mb-3 mb-lg-0 flex-valign bg-img clickable-element" data-bg-img="assets/img/el-estado/ejecutivo.jpg" style="background-image: url('assets/img/el-estado/ejecutivo.jpg') !important; background-position: center">
                            <hr class="hr-lg w-50 mx-auto">
                            <h3 class="text-white text-uppercase mb-0">
                                Poder Ejecutivo
                            </h3>
                            <hr class="hr-lg w-50 mx-auto">
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 d-flex">
                    <a routerLink="/estado/poder-legislativo" class="flex-ew flex-valign">
                        <div class="text-center p-4 py-lg-5 overlay overlay-op-7 rounded flex-ew mb-3 mb-lg-0 flex-valign bg-img clickable-element" data-bg-img="assets/img/el-estado/legislativo.jpg" style="background-image: url('assets/img/el-estado/legislativo.jpg') !important;">
                            <hr class="hr-lg w-50 mx-auto">
                            <h3 class="text-white text-uppercase mb-0">
                                Poder Legislativo
                            </h3>
                            <hr class="hr-lg w-50 mx-auto">
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 d-flex">
                    <a routerLink="/estado/poder-judicial" class="flex-ew flex-valign">
                        <div class="text-center p-4 py-lg-5 overlay overlay-op-7 rounded flex-ew mb-3 mb-lg-0 flex-valign bg-img clickable-element" data-bg-img="assets/img/el-estado/judicial.jpg" style="background-image: url('assets/img/el-estado/judicial.jpg') !important; background-position: center">
                            <hr class="hr-lg w-50 mx-auto">
                            <h3 class="text-white text-uppercase mb-0">
                                Poder Judicial
                            </h3>
                            <hr class="hr-lg w-50 mx-auto">
                        </div>
                    </a>
                </div>
            </div>

            <div class="card-deck pb-6">
                <div class="card">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/instituciones.jpg" style="background-image: url('assets/img/instituciones.jpg') !important;">
                        <a routerLink="/estado/otros">
                            <hr class="w-50 mx-auto">
                            <h4 class="text-white text-uppercase mb-0">
                                Otros Organismos del Estado
                            </h4>
                            <hr class="w-50 mx-auto">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/el-estado/universidades.jpg" style="background-image: url('assets/img/el-estado/universidades.jpg') !important;">
                        <a routerLink="/estado/universidades-nacionales">
                            <hr class="w-50 mx-auto">
                            <h4 class="text-white text-uppercase mb-0">
                                Universidades Nacionales
                            </h4>
                            <hr class="w-50 mx-auto">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/el-estado/contraloria.jpg" style="background-image: url('assets/img/el-estado/contraloria.jpg') !important;">
                        <a routerLink="/estado/cgr">
                            <hr class="w-50 mx-auto">
                            <h4 class="text-white text-uppercase mb-0">
                                Contraloría General de la República
                            </h4>
                            <hr class="w-50 mx-auto">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/instituciones.jpg" style="background-image: url('assets/img/instituciones.jpg') !important;">
                        <a routerLink="/estado/binacionales">
                            <hr class="w-50 mx-auto">
                            <h4 class="text-white text-uppercase mb-0">
                                Entidades Binacionales
                            </h4>
                            <hr class="w-50 mx-auto">
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-deck pb-6">
                <div class="card">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/instituciones.jpg" style="background-image: url('assets/img/instituciones.jpg') !important;">
                        <a routerLink="/estado/banca-central">
                            <hr class="w-50 mx-auto">
                            <h4 class="text-white text-uppercase mb-0">
                                Banca Central del Estado
                            </h4>
                            <hr class="w-50 mx-auto">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/instituciones.jpg" style="background-image: url('assets/img/instituciones.jpg') !important;">
                        <a routerLink="/estado/autonomos-autarquicos">
                            <hr class="w-50 mx-auto">
                            <h4 class="text-white text-uppercase mb-0">
                                Entes Autónomos y Autárquicos
                            </h4>
                            <hr class="w-50 mx-auto">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/instituciones.jpg" style="background-image: url('assets/img/instituciones.jpg') !important;">
                        <a routerLink="/estado/seguridad-social">
                            <hr class="w-50 mx-auto">
                            <h4 class="text-white text-uppercase mb-0">
                                Entidades Públicas de Seguridad Social
                            </h4>
                            <hr class="w-50 mx-auto">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/instituciones.jpg" style="background-image: url('assets/img/instituciones.jpg') !important;">
                        <a routerLink="/estado/empresas-publicas">
                            <hr class="w-50 mx-auto">
                            <h4 class="text-white text-uppercase mb-0">
                                Empresas Públicas
                            </h4>
                            <hr class="w-50 mx-auto">
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-deck pb-6">
                <div class="card">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/instituciones.jpg" style="background-image: url('assets/img/instituciones.jpg') !important;">
                        <a routerLink="/estado/financieras">
                            <hr class="w-50 mx-auto">
                            <h4 class="text-white text-uppercase mb-0">
                                Entidades Financieras Oficiales
                            </h4>
                            <hr class="w-50 mx-auto">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/instituciones.jpg" style="background-image: url('assets/img/instituciones.jpg') !important;">
                        <a routerLink="/estado/sa">
                            <hr class="w-50 mx-auto">
                            <h4 class="text-white text-uppercase mb-0">
                                Sociedades Anónimas
                            </h4>
                            <hr class="w-50 mx-auto">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/instituciones.jpg" style="background-image: url('assets/img/instituciones.jpg') !important;">
                        <a href="https://www.gobernaciones.gov.py/" target="_blank">
                            <hr class="w-50 mx-auto">
                            <h4 class="text-white text-uppercase mb-0">
                                Gobernaciones 
                            </h4>
                            <hr class="w-50 mx-auto">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/instituciones.jpg" style="background-image: url('assets/img/instituciones.jpg') !important;">
                        <a href="https://www.municipios.gov.py/" target="_blank">
                            <hr class="w-50 mx-auto">
                            <h4 class="text-white text-uppercase mb-0">
                                Municipios
                            </h4>
                            <hr class="w-50 mx-auto">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row text-left"></div>
    </div>
</div>