<div id="page-header" class="bg-gradient bg-shadow">
    <div class="container clearfix">
        <nav class="breadcrumb">
            <a class="breadcrumb-item"><i class="fa fa-home fa-lg text-primary" aria-hidden="true"></i></a>
            <span class="breadcrumb-item" *ngIf="encuentra" routerLink="/poderes-del-estado">El Estado</span>
            <span class="breadcrumb-item active text-capitalize">{{titulo}}</span>
        </nav>
    </div>
</div>

<div id="content" class="pb-0">
    <div class="container">
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary">
        <h2 class="text-center text-uppercase font-weight-bold my-0">
            {{titulo}}
        </h2>
        <hr class="mb-5 w-50 mx-auto">
    
        <div class="row text-left" *ngIf="encuentra">

            <div class="col-lg-3 col-md-4 sidebar-section mb-0 pt-3">
                <ul class="list-group texto-accesible-ul nav nav-section-menu-left pb-0 mb-4">
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/poderes-del-estado/poder-ejecutivo" routerLinkActive="active" class="nav-link">
                            <span>Poder Ejecutivo <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/poderes-del-estado/poder-legislativo" routerLinkActive="active" class="nav-link">
                            <span>Poder Legislativo <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action p-1 b-0" style="background-color: transparent" routerLinkActive="active">
                        <a routerLink="/poderes-del-estado/poder-judicial" routerLinkActive="active" class="nav-link">
                            <span>Poder Judicial <i class="fa fa-angle-double-right pull-right"></i></span>
                        </a>
                    </li>
                </ul>
            </div>

            <!--LINK-->
            <div class="col-lg-9 col-md-8">
                <ul class="list-group texto-accesible-ul pb-6">
                    <li class="list-group-item list-group-item-action pointer" *ngFor="let entidad of entidades" routerLink="/poderes-del-estado/{{urlEntidad}}/{{entidad.urlEntidad}}">
                        <i class="fa fa-university fa-fw text-primary pointer" style="margin-top:-5px;" aria-hidden="true"></i> {{entidad.descripcionEntidad}}
                        <span class="badge badge-primary badge-pill" style="float: right;">{{entidad.cantidadOee}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mb-5" *ngIf="!encuentra">
            <div class="col-lg-4 col-md-4 d-flex">
                <a routerLink="/poderes-del-estado/poder-ejecutivo" class="flex-ew flex-valign">
                    <div class="text-center p-4 py-lg-5 overlay overlay-op-7 rounded flex-ew mb-3 mb-lg-0 flex-valign bg-img clickable-element" data-bg-img="assets/img/el-estado/ejecutivo.jpg" style="background-image: url('assets/img/el-estado/ejecutivo.jpg') !important; background-position: center">
                        <hr class="hr-lg w-50 mx-auto">
                        <h3 class="text-white text-uppercase mb-0">
                            Poder Ejecutivo
                        </h3>
                        <hr class="hr-lg w-50 mx-auto">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 d-flex">
                <a routerLink="/poderes-del-estado/poder-legislativo" class="flex-ew flex-valign">
                    <div class="text-center p-4 py-lg-5 overlay overlay-op-7 rounded flex-ew mb-3 mb-lg-0 flex-valign bg-img clickable-element" data-bg-img="assets/img/el-estado/legislativo.jpg" style="background-image: url('assets/img/el-estado/legislativo.jpg') !important;">
                        <hr class="hr-lg w-50 mx-auto">
                        <h3 class="text-white text-uppercase mb-0">
                            Poder Legislativo
                        </h3>
                        <hr class="hr-lg w-50 mx-auto">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 d-flex">
                <a routerLink="/poderes-del-estado/poder-judicial" class="flex-ew flex-valign">
                    <div class="text-center p-4 py-lg-5 overlay overlay-op-7 rounded flex-ew mb-3 mb-lg-0 flex-valign bg-img clickable-element" data-bg-img="assets/img/el-estado/judicial.jpg" style="background-image: url('assets/img/el-estado/judicial.jpg') !important; background-position: center">
                        <hr class="hr-lg w-50 mx-auto">
                        <h3 class="text-white text-uppercase mb-0">
                            Poder Judicial
                        </h3>
                        <hr class="hr-lg w-50 mx-auto">
                    </div>
                </a>
            </div>
        </div>
        <div class="card-deck pb-6" *ngIf="!encuentra">
            <div class="card">
                <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/instituciones.jpg" style="background-image: url('assets/img/instituciones.jpg') !important;">
                    <a routerLink="/otras/otros-organismos-del-estado">
                        <hr class="w-50 mx-auto">
                        <h4 class="text-white text-uppercase mb-0">
                            Otros Organismos Dependientes
                        </h4>
                        <hr class="w-50 mx-auto">
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/el-estado/universidades.jpg" style="background-image: url('assets/img/el-estado/universidades.jpg') !important;">
                    <a routerLink="/otras/universidades-nacionales">
                        <hr class="w-50 mx-auto">
                        <h4 class="text-white text-uppercase mb-0">
                                Universidades Nacionales
                        </h4>
                        <hr class="w-50 mx-auto">
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/el-estado/contraloria.jpg" style="background-image: url('assets/img/el-estado/contraloria.jpg') !important;">
                    <a routerLink="/otras/contraloria-general-de-la-republica">
                        <hr class="w-50 mx-auto">
                        <h4 class="text-white text-uppercase mb-0">
                                Contraloría General de la República
                        </h4>
                        <hr class="w-50 mx-auto">
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-block text-center p-4 py-lg-5 overlay overlay-primary overlay-op-7 rounded card mb-3 mb-lg-0 bg-img b-0" data-bg-img="assets/img/instituciones.jpg" style="background-image: url('assets/img/instituciones.jpg') !important;">
                    <a routerLink="/otras/entidades-binacionales">
                        <hr class="w-50 mx-auto">
                        <h4 class="text-white text-uppercase mb-0">
                                Entidades Binacionales
                        </h4>
                        <hr class="w-50 mx-auto">
                    </a>
                </div>
            </div>
        </div>

        <div class="row text-left"></div>
    </div>
</div>