<div id="page-header" class="p-0" style="border-bottom: 0;">
    <div class="bg-grey mb-4">
        <div class="container d-lg-flex align-items-lg-center py-4 pb-xs-1">

            <h2 class="texto-accesible-H2 mb-4 mt-4">
                <span>{{infoServicio.nombreServicio}}</span>
                <small>
                    <nav class="breadcrumb mt-1">
                        <a class="breadcrumb-item" href=""><i class="fa fa-home fa-lg text-primary" aria-hidden="true"></i></a>
                        <a class="breadcrumb-item" routerLink="/">El Estado</a>
                        <a class="breadcrumb-item text-capitalize" routerLink="/oee/{{urlOee}}">{{descOee}}</a>
                        <span class="breadcrumb-item active">Servicio</span>
                    </nav>
                </small>
            </h2>

            <div *ngIf="infoServicio.servicioEnLineaUrl" class="ml-lg-auto p-2 btn btn-success btn-lg btn-rounded hidden-xs" style="border-radius:15px;font-size:0.8rem;border:none;background-color:#001c54;">
                <a data-toggle="modal" data-target=".servicio-modal-open" style="color:#fff;">
                    <i class="far fa-hand-point-right" aria-hidden="true"></i> Iniciar el trámite en línea →
                </a>
            </div>

            <div *ngIf="infoServicio.servicioEnLineaUrl" class="btn btn-success btn-lg btn-rounded btn-block visible-xs mt-5 mb-5" style="border-radius:15px;font-size:0.8rem;border:none;background-color:#001c54;">
                <a data-toggle="modal" data-target=".servicio-modal-open" class="mb-2" style="color:#fff;">
                    <i class="far fa-hand-point-right" aria-hidden="true"></i> Iniciar el trámite en línea →
                </a>
            </div>

            <div class="modal fade servicio-modal-open" tabindex="-1" role="dialog" aria-labelledby="ServicioModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header text-center b-0">
                            <i class="fas fa-exclamation-circle icon-3x text-blue-dark" style="position: absolute; left: 0; right: 0;"></i>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                        </div>
                        <div class="modal-body text-center mt-3">
                            <h5>Para realizar tu trámite te redireccionaremos al sitio web indicada por la institución.</h5>
                        </div>
                        <div class="text-center my-2 p-3">
                            <button type="button" class="btn btn-outline-secondary btn-rounded mr-1" data-dismiss="modal" style="text-transform: none;">Permanecer en este Portal</button>
                            <a href="{{infoServicio.servicioEnLineaUrl}}" class="btn btn-lg btn-primary btn-rounded" style="text-transform: none;">Ir al trámite →</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="content" class="p-0">
    <div class="container pb-6 mt-3">
        <div class="text-left" *ngFor="let info of infoServicio.detalle | orderBy: 'id' ">
            <div class="row mt-5" *ngIf="info.titulo && info.valor">
                <div class="col-1 col-lg-1 text-right">
                    <i class="{{ info.icon }} icon-2x" aria-hidden="true"></i>
                </div>
                <div class="col-11 col-lg-11">
                    <h3 class="texto-accesible-H3">
                        <span>{{ info.titulo }}</span>
                    </h3>
                    <p class="lead texto-accesible-pLead" [innerHTML]="info.valor | safeHtml"></p>
                </div>
            </div>
        </div>

        <div class="list-group-item" style="border:0px;padding:1px;" *ngIf="infoServicio.detalle != null">
            <div class="text-left">
                <div class="row mt-4">
                    <div class="col offset-1 col-10 col-lg-10">
                        <div style="font-size:14px; font-weight:500; font-style:italic;">
                            <i class="fa fa-user icon" aria-hidden="true"></i> Responsable/s de la actualización del portal:
                            <span *ngIf="infoServicio.responsable">{{ infoServicio.responsable }}</span>
                            <span *ngIf="!infoServicio.responsable">-</span>
                        </div>
                        <div style="font-size:14px; font-weight:500; font-style:italic;">
                            <i class="fa fa-calendar icon" aria-hidden="true"></i> Fecha de Actualización:
                            <span *ngIf="infoServicio.fechaModificacion">{{ formatFecha(infoServicio.fechaModificacion) | date:'dd-MM-yyyy HH:mm' }}</span>
                            <span *ngIf="!infoServicio.fechaModificacion">-</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4" *ngIf="msgEstadisticaVotacion && msgEstadisticaVotacion != ''">
            <div class="col offset-1 col-9 col-lg-9">
                <div class="card bd-callout bd-callout-primary">
                    <div style="background: #e7f2fc;" class="card-body p-4">
                        <div [innerHTML]="msgEstadisticaVotacion"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <a class='flotante' href="javascript:;" *ngIf="!yaVoto1">
        <div class="flotante dropup" style="display:block;">
            <button type="button" class="btn btn-primary dropdown-toggle" style="font-size:11px;" data-toggle="dropdown">
                ¿Cómo calificarías este servicio?
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header">¿Cómo calificarías este servicio?</div>
                <button class="dropdown-item" (click)="calificar(1,'PUEDE_MEJORAR')"><i class="fa fa-arrow-alt-circle-right"></i> PUEDE MEJORAR</button>
                <button class="dropdown-item" (click)="calificar(1,'BUENO')"><i class="fa fa-arrow-alt-circle-right"></i> BUENO</button>
                <button class="dropdown-item" (click)="calificar(1,'MUY_BUENO')"><i class="fa fa-arrow-alt-circle-right"></i> MUY BUENO</button>
                <div class="dropdown-divider"></div>
            </div>
        </div>
    </a>

    <a class='flotanteOnline' href="javascript:;" *ngIf="!yaVoto2">
        <div class="flotanteOnline dropup" style="display:block;" *ngIf="!infoServicio.servicioEnLineaUrl">
            <button type="button" class="btn btn-primary dropdown-toggle" style="font-size:11px;" data-toggle="dropdown">
                ¿Querés que este trámite sea en Línea?
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header">¿Querés que este trámite sea en Línea?</div>
                <button class="dropdown-item" (click)="calificar(2,'SI')"><i class="fa fa-arrow-alt-circle-right"></i> SI</button>
                <button class="dropdown-item" (click)="calificar(2,'NO')"><i class="fa fa-arrow-alt-circle-right"></i> NO</button>
                <div class="dropdown-divider"></div>
            </div>
        </div>
    </a>

</div>