.flotante {
    position: fixed;
    bottom: 20px;
    right: 14px;
    max-width: 250px;
    z-index: 9999999;
}

.flotanteOnline {
    position: fixed;
    bottom: 60px;
    right: 46px;
    max-width: 250px;
    z-index: 9999;
}

html {
    overflow-y: hidden;
}

html body {
    height: 100%;
    overflow: auto;
}

.bd-callout-primary {
    border-left-color: #001c54;
}

.bd-callout {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-left-width: .25rem;
    border-radius: .25rem;
}