<div id="page-header" class="bg-gradient bg-shadow" style="padding: 0px 0;">
    <div class="container clearfix">
        <nav class="breadcrumb">
            
        </nav>
    </div>
</div>
<div id="content" class="pb-0">
<div id="content" class="pb-0 pt-2">
    <div class="container pb-6">
        <div class="row">
            <div class="col-md-12 mb-4">
                <h3 class="title-divider text-primary">
                    <i class="fa fa-edit mr-2" style="margin-top: -4px;"></i>
                    <span>Formulario de Contacto</span>
                </h3>

                <div class="row">
                    <div class="col-md">
                        <div class="alert alert-info">
                            <i class="fa fa-info-circle"></i> Debe completar todos los campos requeridos para guardar.
                        </div>
                    </div>
                </div>
                
                <form [formGroup]="contactoFg" class="mt-4">
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="cedula"><strong>Número de Cédula</strong><span style="color: red;"> *</span></label>
                                        <input type="text" formControlName="cedula" class="form-control" id="cedula" name="cedula" placeholder="Ej. 123456" required (change)="consultarIdentificaciones($event, 'registro')">
                                        <!--<input type="text" [(ngModel)]="formDatosBasicos.numeroDocumento" class="form-control" id="numeroDocumento" name="numeroDocumento" placeholder="Ej. 123456" required>-->
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="nombre"><strong>Nombres</strong><span style="color: red;"> *</span></label>
                                        <input type="text" formControlName="nombre" class="form-control" id="nombre" name="nombre" required disabled>
                                        <!--<input type="text" [(ngModel)]="formDatosBasicos.nombre" name="nombre" class="form-control" id="nombre" required>-->
                                    </div>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="apellido"><strong>Apellidos</strong><span style="color: red;"> *</span></label>
                                        <input type="text" formControlName="apellido" class="form-control" id="apellido" name="apellido" required disabled>
                                        <!--<input type="text" [(ngModel)]="formDatosBasicos.nombre" name="nombre" class="form-control" id="nombre" required>-->
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="fechaNacimiento"><strong>Fecha de nacimiento:</strong><span style="color: red;"> *</span></label><!--value="1980-01-01"-->
                                        <input type="text" formControlName="fechaNacimiento" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="sexo"><strong>Sexo</strong><span style="color: red;"> *</span></label>
                                        <br>
                                        <p-dropdown id="sexo" [options]="sexoOptions" label="label" placeholder="Seleccionar" formControlName="sexo" name="sexo" [style]="{'width':'540px'}" required></p-dropdown>
                                        <!--<p-dropdown id="sexo" [options]="sexoOptions" label="label" placeholder="Seleccionar" [(ngModel)]="formDatosBasicos.tipoDocumento" name="sexo" [style]="{'width':'350px'}" required></p-dropdown>-->
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="direccion"><strong>Dirección</strong><span style="color: red;"> *</span></label>
                                        <input type="text" formControlName="direccion" name="direccion" class="form-control" id="direccion" required>
                                        <!--<input type="text" [(ngModel)]="formDatosBasicos.direccionDomicilio" name="direccionDomicilio" class="form-control" id="direccionDomicilio" required>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="numeroCelular"><strong>Número de teléfono</strong><span style="color: red;"> *</span></label>
                                        <input type="text" formControlName="telefono" class="form-control" id="telefono" name="telefono" placeholder="Ej. 0961123456" required>
                                        <!--<input type="text" [(ngModel)]="formDatosBasicos.numeroCelular" class="form-control" id="numeroCelular" name="numeroCelular" placeholder="Ej. 0961123456" minlength="6" required>-->
                                    </div>
                                </div>
                                <div class="col-md">
                                    <!--<div class="form-group">
                                        <label for="idioma"><strong>Tipo de Exposición</strong><span style="color: red;"> *</span></label><br>
                                        <p-dropdown id="tipoExposicion" [options]="exposicionOptions" label="label" placeholder="Seleccionar" formControlName="tipoExposicion" name="tipoExposicion" [style]="{'width': '540px'}" required></p-dropdown>
                                    </div>-->
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="tipoContacto"><strong>Hospitalizado</strong><span style="color: red;"> *</span></label>
                                        <br>
                                        <p-dropdown id="hospitalizado" [options]="binarioOptions" label="label" placeholder="Seleccionar" formControlName="hospitalizado" name="hospitalizado" [style]="{'width': '540px'}" required></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="fechaSintomas"><strong>Fecha de Inicio de Síntomas:</strong><span style="color: red;"> *</span></label>
                                        <br>
                                        <!--<input type="date" id="fechaSintomas" formControlName="fechaSintomas" style="width: 325px;" (change)="setearFechasTabla($event.target.value)" value="{{fechaHoy}}">-->
                                        <p-calendar formControlName="fechaInicioSintomas" id="fechaSintomas" name="fechaSintomas" dateFormat="dd/mm/yy" [locale]="es" dataType="string" [showIcon]="true" [inputStyle]="{'width':'500px'}"></p-calendar>
                                    </div>
                                    <!--<div class="form-group">
                                        <label for="tipoContacto"><strong>Fallecido</strong><span style="color: red;"> *</span></label>
                                        <br>
                                        <p-dropdown id="fallecido" [options]="binarioOptions" label="label" placeholder="Seleccionar" formControlName="fallecido" name="fallecido" [style]="{'width': '540px'}" required></p-dropdown>
                                    </div>-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    
                                </div>

                                <div class="col-md">
                                    <!--<div class="form-group">
                                        <label for="fechaCierreCaso"><strong>Fecha de Cierre de Caso:</strong><span style="color: red;"> *</span></label>
                                        <br>
                                        <p-calendar formControlName="fechaCierreCaso" id="fechaCierreCaso" name="fechaCierreCaso" dateFormat="dd/mm/yy" [locale]="es" dataType="string" [showIcon]="true" [inputStyle]="{'width':'500px'}"></p-calendar>
                                    </div>-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="departamento"><strong>Departamento</strong><span style="color: red;"> *</span></label>
                                        <br>
                                        <p-autoComplete id="departamento" formControlName="departamento" [suggestions]="departamentosFiltrados" field="nombre" (completeMethod)="filtrarDepartamento($event)" [inputStyle]="{'width':'525px'}" [forceSelection]="true" required></p-autoComplete>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="distrito"><strong>Distrito</strong><span style="color: red;"> *</span></label>
                                        <input type="text" formControlName="distrito" class="form-control" id="distrito" name="distrito" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="form-group">
                                        <label for="regionSanitaria"><strong>Región Sanitaria</strong><span style="color: red;"> *</span></label>
                                        <br>
                                        <!--<p-dropdown id="regionSanitaria" [options]="regionSanitariaOptions" label="label" placeholder="Seleccionar" formControlName="regionSanitaria" name="regionSanitaria" [style]="{'width':'515px'}" required></p-dropdown>-->
                                        <p-autoComplete id="regionSanitaria" formControlName="regionSanitaria" [suggestions]="regionesFiltradas" field="nombre" (completeMethod)="filtrarRegion($event)" [inputStyle]="{'width':'525px'}" [forceSelection]="true" required></p-autoComplete>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <!--<div class="form-group">
                                        <label for="funcion"><strong>Código de Paciente</strong></label>
                                        <input type="text" formControlName="codPaciente" name="codPaciente" class="form-control"  id="codPaciente">
                                    </div>-->
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <input ngx-google-places-autocomplete [options]="options" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                            </div>
                            <div class="form-group">
                                <label for="contrasenha"><strong>Clave de seguridad </strong></label>
                                <input type="password" [(ngModel)]="formDatosBasicos.contrasenha" class="form-control" id="contrasenha" style="max-width: 300px;" name="contrasenha" minlength="8" required>
                            </div>
                            <div class="form-group">
                                <label for="contrasenhaConfirm"><strong>Confirmar Clave de seguridad</strong></label>
                                <input type="password" [(ngModel)]="contrasenhaConfirm" name="contrasenhaConfirm" class="form-control" style="max-width: 300px;" id="contrasenhaConfirm" required>
                            </div>-->
        
                            <div class="clearfix"><br/></div>
                            <div class="clearfix">
                            <div class="row">
                                <div class="col-md">
                                    <button (click)="guardarPrimerContacto()" type="submit" class="btn btn-success btn-success-next mb-4 mr-3 text-white" mat-button [disabled]="loading"><!--routerLink="/covid19/home-operador" [disabled]="clasificacionRiesgoFg.invalid || loading"-->  
                                        Guardar <span class="fa fa-check"></span>            
                                    </button>

                                    <button class="btn btn-success btn-success-next text-white mr-3" mat-button routerLink="/covid19/home-operador">
                                        Menú Principal  <span class="fa fa-arrow-left"></span>            
                                    </button>
                                </div>
                                <div class="col-md">
                                    
                                </div>
                            </div>
                            <!--<table>
                                <tr>
                                    <td>
                                        <button (click)="registrar(formDatosBasicos)" type="submit" class="btn btn-success btn-success-next" [disabled]="!registroForm.form.valid || loading">
                                            
                                                Guardar
                                                <span class="fa fa-check"></span>            
                                            </button>
                                    </td>
                                </tr>
                            </table>-->
                                
                            </div>
            </form>
            </div>

            <div class="modal fade" id="modalExito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">{{mensaje}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/covid19/grilla-censo-contactos"><i class="fa fa-remove"></i>  Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">{{mensaje}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-remove"></i>  Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="modal fade" id="modalTerminosIE" tabindex="-1" role="dialog" aria-labelledby="modalTerminosIELabel" aria-hidden="true">
                <div style="max-width:1100px;" class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content p-4">
                        <div class="modal-header">
                            <h2 class="modal-title" id="modalTerminosIELabel">
                                Términos y Condiciones
                            </h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body row">
                            <ie-terminos-template></ie-terminos-template>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
</div>