<div id="page-header" class="bg-gradient bg-shadow">
    <div class="container">
        <div class="header-text clearfix">
            <h3 class="pull-left mb-0"><span class="far fa-file-alt text-default menu-item-icon text-center fa-fw"></span> Trámites y Documentos</h3>
            <div class="text-center" *ngIf="ciudadano && isDocument">
                <button type="button" class="btn btn-primary" *ngIf="!loading" style="margin-right:10px;" data-dismiss="modal" (click)="cancelGenerarDocumento()">
                    <i class="fa fa-angle-double-left"></i> Atrás
                </button>
            </div>
        </div>
    </div>
</div>

<!-- VIEW TRAMITES CON E-ID -->
<div class="content pb-4" *ngIf="ciudadano && isTramitesEID">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <menu-ciudadano></menu-ciudadano>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12" *ngIf="ciudadano">
                <h4 class="mt-4 mb-4 text-primary">Podés realizar los siguientes trámites</h4>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="list-group">
                            <div *ngFor="let menu of menuIE | sort: 'codigoServicio'; let i = index" class="pb-1">
                                <button class="list-group-item list-group-item-action flex-column align-items-start" [disabled]="loading" (click)="confirmarGeneracionDocumento(menu.codigoServicio)">
                                    <div class="d-flex w-100 justify-content-between" style="cursor:pointer;">
                                        <h5 class="mb-1">{{menu.codigoServicio}} - {{menu.nombreServicio}}</h5>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>  
    </div>  
</div>

<!-- VIEW CONFIRM -->
<div class="modal-dialog modal-dialog-centered" role="document"  *ngIf="ciudadano && isConfirm">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalSaludLabel">Confirmación</h5>
        </div>
        <div class="modal-body row m-2">
            ¿Desea generar el documento?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="generarDocumento()">
                <i class="fa fa-check nav-link-icon"></i> Aceptar
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal"  (click)="cancelGenerarDocumento()">
                <i class="fa fa-close nav-link-icon"></i> Cancelar
            </button>
        </div>
    </div>
</div>

<!-- VIEW DOCUMENT -->
<div class="content fullscreen-container" *ngIf="ciudadano && isDocument">
    <div class="row" style="margin-top:5px !important;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0" *ngIf="ciudadano">
            <div style="height:100%;width:100%;">
                
                <div class="text-center" style="margin:40px;" *ngIf="loading">
                    <img src="assets/img/misc/icon_loading.gif" alt="Cargando.." /> Cargando documento...
                </div>

                <div class="alert alert-danger" style="margin:40px;" *ngIf="!resultado.status">
                    <i class="fa fa-info-circle"></i> {{resultado.message}}
                </div>

            </div>
        </div>
    </div>    
</div>