<div id="page-header" class="bg-gradient bg-shadow">
    <div class="container clearfix">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="">
                <i class="fa fa-home fa-lg text-primary" aria-hidden="true"></i>
            </a>
            <a class="breadcrumb-item" routerLink="/poderes-del-estado">El Estado</a>
            <a class="breadcrumb-item text-capitalize" [routerLink]="['/poderes-del-estado', urlPoder]">{{descPoder}}</a>
            <a class="breadcrumb-item text-capitalize active">{{descEntidadTitulo}}</a>
        </nav>
    </div>
</div>

<div id="content" class="pb-0">
    <div class="container pb-6">

        <h2 class="texto-accesible-H2 mb-4 text-capitalize">
            {{descEntidadTitulo}}
        </h2>

        <div class="text-left">
            <div *ngIf="oees.length > 0">

                <div *ngFor="let info of infos">

                    <div class="text-left" *ngIf="info.tipoDato != null && info.tipoDato.idTipoDato == 1 && info.descripcionOeeInformacion">
                        <div class="row mt-4">
                            <div class="col col-2 col-lg-1 text-right">
                                <i class="fa fa-globe icon-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col col-10 col-lg-11">
                                <h3 class="texto-accesible-H3">
                                    <span>Sitio Web</span>
                                </h3>
                                <p class="lead texto-accesible-pLead" [innerHTML]="info.descripcionOeeInformacion | safeHtml"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-left" *ngIf="info.tipoDato && info.tipoDato.idTipoDato==2 && info.descripcionOeeInformacion">
                        <div class="row mt-4">
                            <div class="col col-2 col-lg-1 text-right">
                                <i class="fa fa-map-signs icon-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col col-10 col-lg-11">
                                <h3 class="texto-accesible-H3">
                                    <span>Dirección</span>
                                </h3>
                                <p class="lead texto-accesible-pLead" [innerHTML]="info.descripcionOeeInformacion"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-left" *ngIf="info.tipoDato && info.tipoDato.idTipoDato==3 && info.descripcionOeeInformacion">
                        <div class="row mt-4">
                            <div class="col col-2 col-lg-1 text-right">
                                <i class="fa fa-envelope icon-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col col-10 col-lg-11">
                                <h3 class="texto-accesible-H3">
                                    <span>Correo Electrónico</span>
                                </h3>
                                <p class="lead texto-accesible-pLead" [innerHTML]="info.descripcionOeeInformacion"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-left" *ngIf="info.tipoDato && info.tipoDato.idTipoDato==4 && info.descripcionOeeInformacion">
                        <div class="row mt-4">
                            <div class="col col-2 col-lg-1 text-right">
                                <i class="far fa-file-alt icon-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col col-10 col-lg-11">
                                <h3 class="texto-accesible-H3">
                                    <span>Descripción</span>
                                </h3>
                                <p class="lead texto-accesible-pLead" [innerHTML]="info.descripcionOeeInformacion"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-left" *ngIf="info.tipoDato && info.tipoDato.idTipoDato==5 && info.descripcionOeeInformacion">
                        <div class="row mt-4">
                            <div class="col col-2 col-lg-1 text-right">
                                <i class="fa fa-phone icon-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col col-10 col-lg-11">
                                <h3 class="texto-accesible-H3">
                                    <span>Teléfono</span>
                                </h3>
                                <p class="lead texto-accesible-pLead" [innerHTML]="info.descripcionOeeInformacion"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-left" *ngIf="info.tipoDato && info.tipoDato.idTipoDato==6 && info.descripcionOeeInformacion">
                        <div class="row mt-4">
                            <div class="col col-2 col-lg-1 text-right">
                                <i class="fa fa-map-marker icon-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col col-10 col-lg-11">
                                <h3 class="texto-accesible-H3">
                                    <span>Ubicación</span>
                                </h3>
                                <p class="lead texto-accesible-pLead" [innerHTML]="info.descripcionOeeInformacion"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-left" *ngIf="info.tipoDato && info.tipoDato.idTipoDato==7 && info.descripcionOeeInformacion">
                        <div class="row mt-4">
                            <div class="col col-2 col-lg-1 text-right">
                                <i class="fa fa-user icon-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col col-10 col-lg-11">
                                <h3 class="texto-accesible-H3">
                                    <span>Autoridad</span>
                                </h3>
                                <p class="lead texto-accesible-pLead" [innerHTML]="info.descripcionOeeInformacion"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-left" *ngIf="info.tipoDato && info.tipoDato.idTipoDato==8 && info.descripcionOeeInformacion">
                        <div class="row mt-4">
                            <div class="col col-2 col-lg-1 text-right">
                                <i class="fa fa-bookmark icon-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col col-10 col-lg-11">
                                <h3 class="texto-accesible-H3">
                                    <span>Misión</span>
                                </h3>
                                <p class="lead texto-accesible-pLead" [innerHTML]="info.descripcionOeeInformacion"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-left" *ngIf="info.tipoDato && info.tipoDato.idTipoDato==9 && info.descripcionOeeInformacion">
                        <div class="row mt-4">
                            <div class="col col-2 col-lg-1 text-right">
                                <i class="fa fa-binoculars icon-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col col-10 col-lg-11">
                                <h3 class="texto-accesible-H3">
                                    <span>Visión</span>
                                </h3>
                                <p class="lead texto-accesible-pLead" [innerHTML]="info.descripcionOeeInformacion"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="list-group texto-accesible-ul" *ngIf="oees.length > 1">
                <li class="list-group-item list-group-item-action pointer" *ngFor="let oee of oees" routerLink="/poderes-del-estado/{{urlPoder}}/{{urlEntidad}}/{{oee.urlOee}}">
                    <i class="fa fa-university text-primary" aria-hidden="true"></i> {{oee.descripcionOee}}
                </li>
            </ul>
            <br />
        </div>

        <!--
        <div class="col-lg-4" *ngIf="urlEntidad !== 'ministerios'">
            BOLSA DE TRABAJO
            <div class="col-lg-12">
                <button class="btn btn-default" (click)="getListBolsa()">
                    <i class="fa fa-briefcase" aria-hidden="true"></i> Bolsa de trabajo</button>
                <bolsa-trabajo class="px-0" [params]="paramsBolsaTrabajo"></bolsa-trabajo>
            </div>
            <div class="col-lg-12 mt-5">                    
                COMPRAS PUBLICAS
                <div class="col-lg-12 mt-5">
                    <button class="btn btn-default" (click)="getListCompras()">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i> Compras Públicas
                    </button>
                    <compras-publicas class="px-0" [params]="paramsComprasPublicas"></compras-publicas>
                </div>
            </div>                
        </div>
        -->

    </div>
    <hr class="hr-white" />
</div>