<div id="page-header" class="bg-gradient bg-shadow">
    <div class="container">
        <div class="header-text clearfix">
            <div id="topcab"></div>
            <h3 class="pull-left mb-0">
                <span class="far fa-folder-open text-default menu-item-icon text-center fa-fw"></span> Carpeta Ciudadana
            </h3>
            
            <div class="text-center" *ngIf="ciudadano">
                <button type="button" class="btn btn-primary" *ngIf="!loading" style="margin-right:10px;" data-dismiss="modal" (click)="atras()">
                    <i class="fa fa-angle-double-left"></i> Atrás
                </button>
            </div>

        </div>
    </div>
</div>

<!-- VIEW BUY PROCESS -->
<div class="" role="document" *ngIf="ciudadano && liquidacion && !loading">
    <div class="buy-form">
        <header class="row">
            <div class="col-lg-6" style="border:1px solid #eee; border-radius:16px;">
                <h1 class="form-title-liquidacion">PASO 1: Datos de la Solicitud</h1>
                <div style="padding-bottom:5px;">Consulta de datos de Cédula Policial (Policía Nacional)</div>
                <div id="topcc"></div>
                <ul class="list-group" style="margin:15px; background: #f1f1f1;">
                    <li class="list-group-item row p-1">
                        <div class="col-lg-5 fs-13 font-weight-bold">Nombre y Apellido</div>
                        <div class="col-lg-7 fs-12">{{liquidacion?.nombreApellido}}</div>
                    </li>
                    <li class="list-group-item row p-1">
                        <div class="col-lg-5 fs-13 font-weight-bold">Cédula</div>
                        <div class="col-lg-7 fs-12">{{liquidacion?.cedula}}</div>
                    </li>
                    <li class="list-group-item row p-1">
                        <div class="col-lg-5 fs-13 font-weight-bold">Fecha de Solicitud</div>
                        <div class="col-lg-7 fs-12">{{liquidacion?.fechaSolicitud}}</div>
                    </li>
                    <li class="list-group-item row p-1">
                        <div class="col-lg-5 fs-13 font-weight-bold">Estado</div>
                        <div class="col-lg-7 fs-12">{{liquidacion?.estadoSolicitud}}</div>
                    </li>
                    <li class="list-group-item row p-1">
                        <div class="col-lg-5 fs-13 font-weight-bold">Nro. de Comprobante</div>
                        <div class="col-lg-7 fs-12" *ngIf="liquidacion.nroComprobante">{{liquidacion?.nroComprobante}}</div>
                        <div class="col-lg-7 fs-12" *ngIf="!liquidacion.nroComprobante">-</div>
                    </li>
                    <li class="list-group-item row p-1">
                        <div class="col-lg-5 fs-13 font-weight-bold">Fecha de Pago</div>
                        <div class="col-lg-7 fs-12" *ngIf="liquidacion.fechaPago">{{liquidacion?.fechaPago}}</div>
                        <div class="col-lg-7 fs-12" *ngIf="!liquidacion.fechaPago">-</div>
                    </li>
                    <li class="list-group-item row p-1">
                        <div class="col-lg-5 fs-13 font-weight-bold">Lugar de Pago</div>
                        <div class="col-lg-7 fs-12" *ngIf="liquidacion.lugarPago">{{liquidacion?.lugarPago}}</div>
                        <div class="col-lg-7 fs-12" *ngIf="!liquidacion.lugarPago">-</div>
                    </li>
                </ul>
                <div class="row" style="padding:15px;text-align: center;">
                    <div class="col-lg-3">
                        <input class="email" style="max-width:80px;text-align:center;font-size:30px;" type="text" [(ngModel)]="nroLiquidacion" disabled name="nroLiquidacion" placeholder="Nro. de Liquidación" />
                    </div>
                    <div class="col-lg-4">
                        <button type="button" *ngIf="nroLiquidacion" class="btn btn-sm btn-success btn-success-next" (click)="descargarTicket()" style="cursor:pointer; font-size:13px;">
                            Imprimir Ticket <i class="fa fa-arrow-up"></i>
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-sm btn-success btn-success-next" (click)="descargarDocumento()" style="cursor:pointer; font-size:13px;">
                            Imprimir Documento <i class="fa fa-credit-card"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <form>
                    <div class="password" style="width:100%; background:#f1f1f1; padding:10px 20px;border-radius: 16px;">
                        <p style="font-size:18px; font-weight: bold;text-transform: uppercase;"><strong>PASO 2: Pagar con Tarjeta de Crédido/Débito</strong></p>
                        <!-- <div class="form-group" style="margin: 4px;">
                            <label class="control-label" for="nro_tarjeta" style="font-size:12px;"><strong> <i class="fa fa-credit-card"></i> Nro. de Tarjeta </strong> </label>
                            <input type="text" name="nro_tarjeta" placeholder="Nro. de tarjeta" class="form-control input-custom-card" required>
                        </div>
                        <div class="form-group" style="margin: 4px;">
                            <div class="input-group">
                                <label class="control-label" style="font-size:12px;"><strong> <i class="fa fa-calendar"></i> MM/YY</strong> </label>
                                <label class="control-label" style="font-size:12px;margin-left: 130px;"><strong> <i class="fa fa-caret-square-o-right"></i> CVC </strong> </label>
                            </div>
                        </div>
                        <div class="form-group" style="margin: 4px;">
                            <div class="input-group">
                                <input type="text" class="form-control input-custom-card" placeholder="MM/YY"/>
                                <input type="text" class="form-control input-custom-card" placeholder="CVC"/>
                            </div>
                        </div> -->

                        <div class="form-group" style="margin: 4px;">
                            <div style="padding:10px;">
                                <button type="button" *ngIf="nroLiquidacion" (click)="authenticationFastPay()" class="btn btn-sm btn-success btn-success-next" style="cursor:pointer; margin:3px;">
                                    Pagar en línea <i class="fa fa-credit-card"></i>
                                </button>
                            </div>

                            <div style="padding: 10px;">
                                <div class="alert alert-info" style="margin-top: 15px;">
                                    Una vez realizado el pago por Tarjeta de Crédito o en boca de cobranza podrá encontrar su certificado en su carpeta ciudadana.
                                </div>

                                <div class="alert alert-info" style="margin-top:15px; ">
                                    <strong>Cooperativas:</strong>
                                    <ul>
                                        <li>Santísimo Redentor</li>
                                        <li>Sagrados Corazones</li>
                                        <li>Universitaria</li>
                                        <li>San Cristóbal Ltda.</li>
                                        <li>Nazareth</li>
                                        <li>Yoayu</li>
                                        <li>Credivill Ltda.</li>
                                        <li>COOMECIPAR</li>
                                        <li>COOPEC LTDA</li>
                                        <li>MBURICAO LTDA</li>
                                        <li>Medalla Milagrosa Ltda.</li>                                            
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </header>
    </div>
</div>

<div class="modal fade" id="modalFp" tabindex="-1" role="dialog" aria-labelledby="modalFp" aria-hidden="true">
    <div style="max-width:1100px;" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h2 class="modal-title" id="modalFp">
                    Pago Online - Antecedentes Policiales
                </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-lg-12 col-md-12 col-xs-12" style="padding:10px;" *ngIf="transactionFp?.redirectUrl">
                    <iframe width="100%" height="1000" marginheight="0" marginwidth="0" frameborder="0" [src]="sanitizer.bypassSecurityTrustResourceUrl(transactionFp.redirectUrl)" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- LOADING -->
<div class="content fullscreen-container" *ngIf="ciudadano && loading">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0" style="margin-top:5px !important;" *ngIf="ciudadano">
        <div style="height:100%; width:100%;">
            
            <div class="text-center" style="margin:40px;" *ngIf="loading">
                <img src="assets/img/misc/icon_loading.gif" alt="Cargando.." /> Procesando solicitud...
            </div>

            <div class="alert alert-danger" style="margin:40px;" *ngIf="!resultado.status">
                <i class="fa fa-info-circle"></i> {{resultado.message}}
            </div>

        </div>
    </div>
</div>