<div id="page-header" class="bg-gradient bg-shadow">
    <div class="container clearfix">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" routerLink="/"><i class="fa fa-home fa-lg text-primary" aria-hidden="true"></i></a>
            <span class="breadcrumb-item text-capitalize" routerLink="/estadisticas-portal">Estadísticas</span>
            <span class="breadcrumb-item active text-capitalize">Satisfacción de Tramites</span>
        </nav>
    </div>
</div>

<div class="content pb-4">

    <div class="container pt-5 header-text clearfix">
        <h3 class="mb-5"><span class="fas fa-chart-pie text-default menu-item-icon text-center fa-fw"></span> 
            Satisfacción de Tramites
        </h3>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" *ngIf="data?.labels.length > 0">
                <div class="text-center">¿Cómo calificarías este servicio?</div>
                <ngx-chartjs type="pie" width="100%" height="80px" [plugins]="plugins" [data]="data" [options]="options"></ngx-chartjs>
            </div>
    
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" *ngIf="data1?.labels.length > 0">
                <div class="text-center">Querés que este trámite sea en Línea?</div>
                <ngx-chartjs type="pie" width="100%" height="80px" [plugins]="plugins" [data]="data1" [options]="options"></ngx-chartjs>
            </div>  
        </div>

    </div>    
</div>