<div id="page-header" class="bg-gradient bg-shadow">
    <div class="container clearfix">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" routerLink="/"><i class="fa fa-home fa-lg text-primary" aria-hidden="true"></i></a>
            <span class="breadcrumb-item text-capitalize" routerLink="/estadisticas-portal">Estadísticas</span>
            <span class="breadcrumb-item active text-capitalize">Trámites en línea</span>
        </nav>
    </div>
</div>

<div class="content pb-4">

    <div class="container pt-5 header-text clearfix">
        <h3 class="mb-0"><span class="far fa-chart-bar text-default menu-item-icon text-center fa-fw"></span> 
            Trámites en línea
        </h3>
    </div>

    <div class="container-full">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-xs-12" *ngIf="data?.labels.length > 0">
               
                <ngx-chartjs type="horizontalBar" (chartClick)="chartClicked($event)"[legend]="data.legend" width="100%" height="400px" [data]="data" [plugins]="plugins" [options]="options"></ngx-chartjs> 

            </div>
        </div>

    </div>    
</div>