<div id="page-header" class="bg-gradient bg-shadow border-top-primary-base-header">
    <div class="container clearfix">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href=""><i class="fa fa-home fa-lg text-primary" aria-hidden="true"></i></a>
            <a class="breadcrumb-item" routerLink="/">Inicio</a>
            <div id="topcab"></div>
        </nav>
    </div>
</div> 

<div id="content" class="pb-0">
    <div class="container pb-6">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="hidden-phone">
                    <h4 style="color:#465f6e;">Marco Legal</h4>
                    <ul style="font-size: 14px;">
                        <li class="mt-1"><a href="http://www.diputados.gov.py/ww5/application/files/9114/8033/7753/constitucion_espanol1992.compressed.pdf">La Constitución Nacional en su artículo 135 consagra que toda persona podrá acceder a la información y a los datos que obren en registros oficiales de carácter público, sobre sí misma o sobre sus bienes.</a></li>
                        <li class="mt-1"><a href="http://www.diputados.gov.py/WebSiteLeyes/2014/Py_5282_2014_09_19.pdf">Ley N° 5.282/2014 de libre acceso ciudadano a la información pública y transparencia gubernamental.</a></li>
                        <li class="mt-1"><a href="https://www.documentos.gov.py/simple/assets/css/base_ge/img/Ley6207.pdf">Ley Nº 6.207/2018. Que crea el Ministerio de Tecnologías de la Información y Comunicación y establece su carta orgánica.</a></li>				
                        <li class="mt-1"><a href="https://www.senatics.gov.py/application/files/3615/2580/2138/DECRETO_8709.PDF">Decreto Nro 8709/2018. Por el cual se dispone la utilización del "Sistema de Intercambio de Información" implementado por la Secretaría Nacional de Tecnologías de la Información y Comunicación (SENATICs) en las Instituciones Públicas y se reglamentan servicios y aspectos relativos al mismo.</a></li>
                        <li class="mt-1"><a href="http://www.diputados.gov.py/WebSiteLeyes/2002/py1969_02092002.pdf">Ley N° 1969/2002 que modifica, amplía y deroga varios artículos de la Ley N° 1682/2001.</a></li>
                        <li class="mt-1"><a href="http://www.diputados.gov.py/WebSiteLeyes/2001/py1682_16012001.pdf">Ley N° 1682/2001 que reglamenta la información de caracter privado.</a></li>				
                    </ul>
                    <h4 class="mt-1">Información Pública del Estado</h4>		
                    <a href="http://www.paraguay.gov.py/" target="_blank"><img src="https://www.documentos.gov.py/simple//assets/css/base_ge/img/banner-paraguay.jpg"></a>
                    <a href="http://www.datos.gov.py/" target="_blank"><img src="https://www.documentos.gov.py/simple//assets/css/base_ge/img/banner-datos.jpg"></a>
                </div>
            </div>

            <div class="col-lg-9 col-md-12 col-xs-12">
                <h2 style="font-size: 18px !important; color:#d71e1e;">Se pueden consultar y descargar los siguientes documentos oficiales de manera gratuita</h2>
                <table id="mainTable" class="table table-condensed">
                    <tbody>
                        <tr *ngFor="let doc of documentosIE">
                            <td class="name">
                                <a (click)="redirect(doc)" style="cursor: pointer;" title="{{doc.title}}">{{doc.name}}</a>
                            </td>
                            <td class="actions">
                                <button type="button" *ngIf="!doc.isSession" (click)="redirect(doc)" class="btn btn-primary preventDoubleRequest hidden-phone" style="color:#ffffff;border-radius:20px;"><i class="fa fa-file"></i> Consultar</button>
                                <a *ngIf="doc.isSession" (click)="redirect(doc)" style="cursor: pointer;">
                                    <img style="max-width:none;" src="assets/img/claveunica-medium_1.png" alt="ClaveUnica">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2" style="color:#999; font-weight:normal;">
                                <span style="color:#552296; font-weight: bold; font-family: Verdana !important;">Obtené tu Identidad Electrónica en línea haciendo clic en el siguiente botón&nbsp;</span>
                                <a href="/identidad-electronica"><img style="width: 30%;" src="/assets/img/identidad-electronica.png"></a><br>
                                <br> La información disponible en este portal, proviene del Sistema de Intercambio de Información entre instituciones públicas, autorizado y reglamentado por Decreto N˚ 8709/2018, lo cual garantiza que son datos íntegros, confiables y verificables, emitidos por cada una de las instituciones. <br>
                                <br> Estos datos son información pública, según la define el Artículo 2˚ de la Ley N˚ 5.282/2014 como aquella producida, obtenida, bajo control o en poder de las fuentes públicas, independientemente de su formato, soporte, fecha de creación, origen, clasificación o procesamiento, salvo que se encuentre establecida como secreta o de carácter reservado por las leyes. Los datos personales públicos expuestos en este portal, se encuentran en estricta observancia a la Ley N˚ 1.682/01, que distingue aquellos datos personales que no podrán ser publicados ni difundidos por ser de carácter privado, a estos últimos solo podrá acceder el titular de los mismos, mediante su identidad electrónica.
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>


