<buscador-widget class="px-0" [tabBar]="tabBar"></buscador-widget>

<div #topBusqueda id="topBusqueda"></div>

<div id="content" class="p-0" *ngIf="searchActive">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 py-4">


                <h3 class="texto-accesible-H3 title-divider mt-3">
                    <span>Resultado de búsqueda</span>
                </h3>

                <div class="texto-accesible-H3 mb-3 text-primary" style="font-size:20px;">Se han encontrado
                    <b>{{countResults}}</b> coincidencias con la palabra
                    <b>"{{busqueda}}"</b>
                </div>

                <!--<div class="texto-accesible-H3 mb-3 text-default" *ngIf="tabActive != 'categoria'">
                    <small>También puedes buscar en las secciones de: Por categoría, Datos abiertos, Información Pública.</small>
                </div>-->

                <div class="card" style="border:0px !important;margin:0px;">
                    <ul class="nav nav-tabs tabs-center" style="border:none;">
                        <li class="nav-item" *ngIf="tabActive != 'categoria'">
                            <a class="nav-link" [ngClass]="{'active':tabActive === 'tramites_servicios'}" (click)="searchData('tramites_servicios','search')" role="tab" data-toggle="tab">
                                <i class="fa fa-globe" style="margin-top:-5px;" aria-hidden="true"></i> <span class="hidden-xs" style="padding:5px;">Trámites
                                    y servicios</span></a>
                        </li>
                        <li class="nav-item" style="display:none;" *ngIf="tabActive == 'categoria'">
                            <a class="nav-link" [ngClass]="{'active':tabActive === 'categoria'}" (click)="searchData('categoria','search')" role="tab" data-toggle="tab">
                                <i class="fa fa-share-alt" style="margin-top:-5px;" aria-hidden="true"></i> <span class="hidden-xs" style="padding:5px;">Por
                                    categoría</span></a>
                        </li>
                        <li class="nav-item" *ngIf="tabActive != 'categoria'">
                            <a class="nav-link" [ngClass]="{'active':tabActive === 'datos_abiertos'}" (click)="searchData('datos_abiertos','search')" role="tab" data-toggle="tab">
                                <i class="fa fa-database" style="margin-top:-5px;" aria-hidden="true"></i> <span class="hidden-xs" style="padding:5px;">Datos
                                    Abiertos</span></a>
                        </li>
                        <li class="nav-item" *ngIf="tabActive != 'categoria'">
                            <a class="nav-link" [ngClass]="{'active':tabActive === 'informacion_publica'}" (click)="searchData('informacion_publica','search')" role="tab" data-toggle="tab">
                                <i class="fa fa-info" style="margin-top:-5px;" aria-hidden="true"></i> <span class="hidden-xs" style="padding:5px;">Información
                                    Pública</span></a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">

                    <div class="texto-accesible-H3 mb-3 py-6 text-info text-center" style="font-size:20px;" *ngIf="loading">
                        <i class="fa fa-spinner fa-spin fa-3x"></i><br><b>Buscando</b>
                    </div>

                    <div class="texto-accesible-H3 mb-3 py-6 text-danger text-center" style="font-size:20px;" *ngIf="!countResults && !loading">
                        <i class="fa fa-dizzy fa-3x"></i><br>No se encontró resultados
                    </div>

                    <!--TRAMITES Y SERVICIOS-->
                    <div role="tabpanel" id="tramites_servicios" *ngIf="tabActive === 'tramites_servicios' && countResults > 0">
                        <h3 class="visible-xs text-center text-primary mt-2 mb-4">Trámites y servicios</h3>
                        <div class="bg-white mb-4 p-3 rounded shadow" *ngFor="let resultado of resultTab2.resultados | paginate: { itemsPerPage: 10, currentPage: nroTramitesServicios }; let i = index">
                            <div class="row">
                                <div class="col-md-12 d-flex flex-column align-items-start">
                                    <h4 class="texto-accesible-H4 mb-2">
                                        <a *ngIf="resultado.origen == 'INSTITUCION'" [routerLink]="['/oee/'+resultado.linkDatos]" style="font-size:16px;font-weight:400;color:#1a0dab;font-family:arial,sans-serif;cursor:pointer;">{{resultado.titulo}}</a>
                                        <a *ngIf="resultado.origen == 'SERVICIO'" [routerLink]="['/oee/'+resultado.linkDatos+'/'+resultado.id]" style="font-size:16px;font-weight:400;color:#1a0dab;font-family:arial,sans-serif;cursor:pointer;">{{resultado.titulo}}</a>
                                    </h4>
                                    <a style="cursor:pointer;color:green;font-family:arial,sans-serif;font-size:13px;" [routerLink]="['/oee/'+resultado.linkDatos+'/'+resultado.id]">
                                        {{getUrlServicio(resultado.linkDatos, resultado.id)}}
                                    </a>
                                    <p class="texto-accesible-p text-justify" style="font-size:13px;" [innerHTML]="(resultado.descripcion | slice:0:300) +'..' "></p>
                                    <div class="mt-auto">
                                        <button class="btn btn-link btn-sm" type="button"><i class="fa fa-tag"></i> {{resultado.tipo}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <pagination-controls style="text-align:center;" (click)="scrollTop()" (pageChange)="nroTramitesServicios = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                        </div>
                    </div>

                    <!--POR CATEGORIA-->
                    <div role="tabpanel" id="categoria" *ngIf="tabActive === 'categoria' && countResults > 0">
                        <h3 class="visible-xs text-center text-primary mt-2 mb-4">Por categoría</h3>
                        <div class="card m-0" style="border:0;" *ngFor="let resultado of resultTab5.resultados | orderBy: keyCategoria : reverseCategoria | paginate: { itemsPerPage: 10, currentPage: nroCategoria }; let i = index">
                            <div class="card-block p-0 pos-relative row">
                                <div class="col-md-12 d-flex flex-column align-items-start">
                                    <h4 class="texto-accesible-H4 mb-2">
                                        <a [routerLink]="['/oee/'+resultado.linkDatos]" style="font-size:16px;font-weight:400;color:#1a0dab;font-family:arial,sans-serif;cursor:pointer;" *ngIf="resultado.origen == 'INSTITUCION'">{{resultado.titulo}}</a>
                                        <a [routerLink]="['/oee/'+resultado.linkDatos+'/'+resultado.id]" style="font-size:16px;font-weight:400;color:#1a0dab;font-family:arial,sans-serif;cursor:pointer;" *ngIf="resultado.origen == 'SERVICIO'">{{resultado.titulo}}</a>
                                    </h4>
                                    <a style="cursor:pointer;color:green;font-family:arial,sans-serif;font-size:13px;" [routerLink]="['/oee/'+resultado.linkDatos+'/'+resultado.id]">
                                        {{getUrlServicio(resultado.linkDatos, resultado.id)}}
                                    </a>
                                    <!--
                                    <p class="pos-md-absolute pos-t pos-r mr-3 text-md-right">
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="fas fa-star text-primary"></i>
                                        <i class="far fa-star text-primary"></i>
                                    </p>
                                    -->
                                    <p class="texto-accesible-p text-justify" style="font-size:13px;" [innerHTML]="(resultado.descripcion | slice:0:300) +'..' "></p>
                                    <div class="mt-auto">
                                        <button class="btn btn-link btn-sm" type="button"><i class="fa fa-tag"></i> {{resultado.tipo}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <pagination-controls style="text-align:center;" (click)="scrollTop()" (pageChange)="nroCategoria = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                        </div>
                    </div>

                    <!--DATOS ABIERTOS-->
                    <div role="tabpanel" id="datos_abiertos" *ngIf="tabActive === 'datos_abiertos' && countResults > 0">
                        <h3 class="visible-xs text-center text-primary mt-2 mb-4">Datos abiertos</h3>
                        <div class="card mb-0" style="border:0;">
                            <div class="card-block p-3 pos-relative row">
                                <div class="col-md-12 d-flex flex-column">
                                    <table class="table table-striped table-hovered table-responsive table-condensed">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <span style="font-weight:bold;font-size:14px;">Título</span>
                                                </th>
                                                <th>
                                                    <span style="font-weight:bold;font-size:14px;">Descripción</span>
                                                </th>
                                                <th>
                                                    <span style="font-weight:bold;font-size:14px;">Enlace</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let resultado of resultTab3.resultados | orderBy: keyDatosAbiertos : reverseDatosAbiertos | paginate: { itemsPerPage: 10, currentPage: nroDatosAbiertos }; let i = index">
                                                <td style="word-break:break-word;">{{resultado.title}}</td>
                                                <td style="word-break:break-word;">{{resultado.notes}}</td>
                                                <td>
                                                    <a [href]="getUrlDatosAbiertos(resultado.url)" class="btn btn-default btn-link" target="_blank">
                                                        <i class="fa fa-link mr-2"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls style="text-align:center;" (click)="scrollTop()" (pageChange)="nroDatosAbiertos = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--INFORMACION PUBLICA-->
                    <div role="tabpanel" id="informacion_publica" *ngIf="tabActive === 'informacion_publica' && countResults > 0">
                        <h3 class="visible-xs text-center text-primary mt-2 mb-4">Información Pública</h3>
                        <div class="card mb-0" style="border:0;">
                            <div class="card-block p-3 pos-relative row">
                                <div class="col-md-12 d-flex flex-column">
                                    <table class="table table-striped table-hovered table-responsive table-condensed">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <span style="font-weight:bold;font-size:14px;">Nro.</span>
                                                </th>
                                                <th>
                                                    <span style="font-weight:bold;font-size:14px;">Fecha de la Solicitud</span>
                                                </th>
                                                <th>
                                                    <span style="font-weight:bold;font-size:14px;">Titulo de la Solicitud</span>
                                                </th>
                                                <th>
                                                    <span style="font-weight:bold;font-size:14px;">Institución</span>
                                                </th>
                                                <th>
                                                    <span style="font-weight:bold;font-size:14px;">Estado</span>
                                                </th>
                                                <th>
                                                    <span style="font-weight:bold;font-size:14px;">Enlace</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let resultado of resultTab4.resultados | orderBy: keyAIP : reverseAIP | paginate: { itemsPerPage: 10, currentPage: nroAIP }; let i = index">
                                                <td style="word-break:break-word;min-width:100px;">{{resultado.id}}</td>
                                                <td style="word-break:break-word;">{{resultado.fecha}}</td>
                                                <td style="word-break:break-word;">{{resultado.titulo}}</td>
                                                <td style="word-break:break-word;">{{resultado.institucion.nombre}}</td>
                                                <td [ngStyle]="{'color':resultado.estado.nombre === 'NO_RESPONDIDO' ? '#a94442': '#3c763d'}">{{resultado.estado.nombre}}</td>
                                                <td>
                                                    <a [href]="domSanitizer.bypassSecurityTrustResourceUrl(urlAIP + resultado.id)" class="btn btn-default btn-link" target="_blank">
                                                        <i class="fa fa-link mr-2"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls style="text-align:center;" (click)="scrollTop()" (pageChange)="nroAIP = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-lg-4">
                <tramites></tramites>
            </div>
        </div>

    </div>
</div>